<ion-header no-border class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button><img src="../../assets/images/menu-icon1.png"></ion-menu-button>    
    </ion-buttons>
    <ion-title>{{default_language_data['translation'][0]['login'][0][language_selected][0]['screen_title']}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo-main">
    <img src="../../assets/images/logo.png">
  </div>
  <div class="main-div">
    <form [formGroup]="loginForm" (ngSubmit)="makeMeLoggedin(loginForm.value)">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12" class="ion-no-padding">
            <h3>{{default_language_data['translation'][0]['login'][0][language_selected][0]['screen_title']}}</h3>
          </ion-col>
          <ion-col size="12" class="ion-no-padding">
            <ion-label position="stacked">{{default_language_data['translation'][0]['login'][0][language_selected][0]['email_address']}}</ion-label>
            <ion-input type="text" placeholder="" formControlName="username" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"></ion-input>
            <!--VALIDATION-->
            <div *ngFor="let validation of validation_messages.username">
              <div class="validation-errors">
                <ng-container>
                  <div class="error-message" *ngIf="loginForm.get('username').hasError(validation.type) && (loginForm.get('username').dirty || loginForm.get('username').touched)">{{ validation.message }}</div>
                </ng-container>
              </div>								
            </div>
            <!--VALIDATION-->		  
          </ion-col>
          <ion-col size="12" class="ion-no-padding mb-20">
            <ion-label position="stacked">{{default_language_data['translation'][0]['login'][0][language_selected][0]['password']}}</ion-label>
            <ion-input [type]="passwordType" placeholder="" formControlName="password"></ion-input>
            <ion-icon [name]="passwordIcon" (click)='hideShowPassword()'></ion-icon>
            <!--VALIDATION-->
            <div *ngFor="let validation of validation_messages.password">
              <div class="validation-errors">
                <ng-container>
                <div class="error-message" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">{{ validation.message }}</div>
                </ng-container>
              </div>								
            </div>
            <!--VALIDATION-->
          </ion-col>
        </ion-row>
        <ion-row class="otr-lang">
          <ion-col class="ion-text-left align-center ion-no-padding width-size">
            <ion-checkbox></ion-checkbox>
            <p>{{default_language_data['translation'][0]['login'][0][language_selected][0]['remember_me']}}</p>
          </ion-col>
          <ion-col class="ion-text-right ion-no-padding width-size">
            <ion-router-link routerDirection="root" routerLink="/forgot-password" class="">{{default_language_data['translation'][0]['login'][0][language_selected][0]['forgot_password']}}</ion-router-link>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-text-center ion-no-padding button-around-space">
            <ion-button type="submit" class="log-btn" [disabled]="!loginForm.valid">{{default_language_data['translation'][0]['login'][0][language_selected][0]['login_in_button']}}</ion-button>
          </ion-col>
          <ion-col size="12" class="ion-text-center ion-no-padding" routerDirection="root" routerLink="/sign-up">
            <p>{{default_language_data['translation'][0]['login'][0][language_selected][0]['dont_have_account']}} <ion-router-link>{{default_language_data['translation'][0]['login'][0][language_selected][0]['sign_up']}}</ion-router-link></p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
