<ion-header no-border class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>      
    </ion-buttons> -->
    <ion-title slot="start">{{default_language_data['translation'][0]['handyman-view-all'][0][language_selected][0]['screen_title']}}</ion-title>
    <ion-button slot="end" (click)="backToHome()">
		<ion-icon name="arrow-back-outline"></ion-icon>
	</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="main-div">
		<ion-slides pager [options]="handymanSlide">
		    <ion-slide>
				<ion-row class="handyman-list">
					<ion-col class="handyman-item" (click)="showHandyMan()">
						<div class="featured-box-main">
				            <div class="featured-box-img">
				              <img src="../../assets/images/person-img1.png">
				            </div>
				            <div class="featured-box-txt">
				              <p class="rating"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
				              <h2 class="name">Trend Lin</h2>
				              <h4 class="experience">10 years experience</h4>
				              <h3 class="hr-txt">$20<span>/</span>Hr</h3>
				            </div>
				        </div>
				    </ion-col>
				    <ion-col class="handyman-item">
						<div class="featured-box-main">
				            <div class="featured-box-img">
				              <img src="../../assets/images/person-img1.png">
				            </div>
				            <div class="featured-box-txt">
				              <p class="rating"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
				              <h2 class="name">Trend Lin</h2>
				              <h4 class="experience">10 years experience</h4>
				              <h3 class="hr-txt">$20<span>/</span>Hr</h3>
				            </div>
				        </div>
				    </ion-col>
				    <ion-col class="handyman-item">
						<div class="featured-box-main">
				            <div class="featured-box-img">
				              <img src="../../assets/images/person-img1.png">
				            </div>
				            <div class="featured-box-txt">
				              <p class="rating"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
				              <h2 class="name">Trend Lin</h2>
				              <h4 class="experience">10 years experience</h4>
				              <h3 class="hr-txt">$20<span>/</span>Hr</h3>
				            </div>
				        </div>
				    </ion-col>
				    <ion-col class="handyman-item">
						<div class="featured-box-main">
				            <div class="featured-box-img">
				              <img src="../../assets/images/person-img1.png">
				            </div>
				            <div class="featured-box-txt">
				              <p class="rating"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
				              <h2 class="name">Trend Lin</h2>
				              <h4 class="experience">10 years experience</h4>
				              <h3 class="hr-txt">$20<span>/</span>Hr</h3>
				            </div>
				        </div>
				    </ion-col>
				    <ion-col class="handyman-item">
						<div class="featured-box-main">
				            <div class="featured-box-img">
				              <img src="../../assets/images/person-img1.png">
				            </div>
				            <div class="featured-box-txt">
				              <p class="rating"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
				              <h2 class="name">Trend Lin</h2>
				              <h4 class="experience">10 years experience</h4>
				              <h3 class="hr-txt">$20<span>/</span>Hr</h3>
				            </div>
				        </div>
				    </ion-col>
				    <ion-col class="handyman-item">
						<div class="featured-box-main">
				            <div class="featured-box-img">
				              <img src="../../assets/images/person-img1.png">
				            </div>
				            <div class="featured-box-txt">
				              <p class="rating"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
				              <h2 class="name">Trend Lin</h2>
				              <h4 class="experience">10 years experience</h4>
				              <h3 class="hr-txt">$20<span>/</span>Hr</h3>
				            </div>
				        </div>
				    </ion-col>
				    <ion-col class="handyman-item">
						<div class="featured-box-main">
				            <div class="featured-box-img">
				              <img src="../../assets/images/person-img1.png">
				            </div>
				            <div class="featured-box-txt">
				              <p class="rating"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
				              <h2 class="name">Trend Lin</h2>
				              <h4 class="experience">10 years experience</h4>
				              <h3 class="hr-txt">$20<span>/</span>Hr</h3>
				            </div>
				        </div>
				    </ion-col>
				    <ion-col class="handyman-item">
						<div class="featured-box-main">
				            <div class="featured-box-img">
				              <img src="../../assets/images/person-img1.png">
				            </div>
				            <div class="featured-box-txt">
				              <p class="rating"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
				              <h2 class="name">Trend Lin</h2>
				              <h4 class="experience">10 years experience</h4>
				              <h3 class="hr-txt">$20<span>/</span>Hr</h3>
				            </div>
				        </div>
				    </ion-col>
				    <ion-col class="handyman-item">
						<div class="featured-box-main">
				            <div class="featured-box-img">
				              <img src="../../assets/images/person-img1.png">
				            </div>
				            <div class="featured-box-txt">
				              <p class="rating"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
				              <h2 class="name">Trend Lin</h2>
				              <h4 class="experience">10 years experience</h4>
				              <h3 class="hr-txt">$20<span>/</span>Hr</h3>
				            </div>
				        </div>
				    </ion-col>
				</ion-row>
			</ion-slide>
			<ion-slide>
				<ion-row class="handyman-list">
					<ion-col class="handyman-item" (click)="showHandyMan()">
						<div class="featured-box-main">
				            <div class="featured-box-img">
				              <img src="../../assets/images/person-img1.png">
				            </div>
				            <div class="featured-box-txt">
				              <p class="rating"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
				              <h2 class="name">Trend Lin</h2>
				              <h4 class="experience">10 years experience</h4>
				              <h3 class="hr-txt">$20<span>/</span>Hr</h3>
				            </div>
				        </div>
				    </ion-col>
				    <ion-col class="handyman-item">
						<div class="featured-box-main">
				            <div class="featured-box-img">
				              <img src="../../assets/images/person-img1.png">
				            </div>
				            <div class="featured-box-txt">
				              <p class="rating"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
				              <h2 class="name">Trend Lin</h2>
				              <h4 class="experience">10 years experience</h4>
				              <h3 class="hr-txt">$20<span>/</span>Hr</h3>
				            </div>
				        </div>
				    </ion-col>
				    <ion-col class="handyman-item">
						<div class="featured-box-main">
				            <div class="featured-box-img">
				              <img src="../../assets/images/person-img1.png">
				            </div>
				            <div class="featured-box-txt">
				              <p class="rating"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
				              <h2 class="name">Trend Lin</h2>
				              <h4 class="experience">10 years experience</h4>
				              <h3 class="hr-txt">$20<span>/</span>Hr</h3>
				            </div>
				        </div>
				    </ion-col>
				    <ion-col class="handyman-item">
						<div class="featured-box-main">
				            <div class="featured-box-img">
				              <img src="../../assets/images/person-img1.png">
				            </div>
				            <div class="featured-box-txt">
				              <p class="rating"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
				              <h2 class="name">Trend Lin</h2>
				              <h4 class="experience">10 years experience</h4>
				              <h3 class="hr-txt">$20<span>/</span>Hr</h3>
				            </div>
				        </div>
				    </ion-col>
				    <ion-col class="handyman-item">
						<div class="featured-box-main">
				            <div class="featured-box-img">
				              <img src="../../assets/images/person-img1.png">
				            </div>
				            <div class="featured-box-txt">
				              <p class="rating"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
				              <h2 class="name">Trend Lin</h2>
				              <h4 class="experience">10 years experience</h4>
				              <h3 class="hr-txt">$20<span>/</span>Hr</h3>
				            </div>
				        </div>
				    </ion-col>
				    <ion-col class="handyman-item">
						<div class="featured-box-main">
				            <div class="featured-box-img">
				              <img src="../../assets/images/person-img1.png">
				            </div>
				            <div class="featured-box-txt">
				              <p class="rating"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
				              <h2 class="name">Trend Lin</h2>
				              <h4 class="experience">10 years experience</h4>
				              <h3 class="hr-txt">$20<span>/</span>Hr</h3>
				            </div>
				        </div>
				    </ion-col>
				    <ion-col class="handyman-item">
						<div class="featured-box-main">
				            <div class="featured-box-img">
				              <img src="../../assets/images/person-img1.png">
				            </div>
				            <div class="featured-box-txt">
				              <p class="rating"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
				              <h2 class="name">Trend Lin</h2>
				              <h4 class="experience">10 years experience</h4>
				              <h3 class="hr-txt">$20<span>/</span>Hr</h3>
				            </div>
				        </div>
				    </ion-col>
				    <ion-col class="handyman-item">
						<div class="featured-box-main">
				            <div class="featured-box-img">
				              <img src="../../assets/images/person-img1.png">
				            </div>
				            <div class="featured-box-txt">
				              <p class="rating"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
				              <h2 class="name">Trend Lin</h2>
				              <h4 class="experience">10 years experience</h4>
				              <h3 class="hr-txt">$20<span>/</span>Hr</h3>
				            </div>
				        </div>
				    </ion-col>
				    <ion-col class="handyman-item">
						<div class="featured-box-main">
				            <div class="featured-box-img">
				              <img src="../../assets/images/person-img1.png">
				            </div>
				            <div class="featured-box-txt">
				              <p class="rating"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
				              <h2 class="name">Trend Lin</h2>
				              <h4 class="experience">10 years experience</h4>
				              <h3 class="hr-txt">$20<span>/</span>Hr</h3>
				            </div>
				        </div>
				    </ion-col>
				</ion-row>
			</ion-slide>
			<ion-slide>
				<ion-row class="handyman-list">
					<ion-col class="handyman-item" (click)="showHandyMan()">
						<div class="featured-box-main">
				            <div class="featured-box-img">
				              <img src="../../assets/images/person-img1.png">
				            </div>
				            <div class="featured-box-txt">
				              <p class="rating"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
				              <h2 class="name">Trend Lin</h2>
				              <h4 class="experience">10 years experience</h4>
				              <h3 class="hr-txt">$20<span>/</span>Hr</h3>
				            </div>
				        </div>
				    </ion-col>
				    <ion-col class="handyman-item">
						<div class="featured-box-main">
				            <div class="featured-box-img">
				              <img src="../../assets/images/person-img1.png">
				            </div>
				            <div class="featured-box-txt">
				              <p class="rating"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
				              <h2 class="name">Trend Lin</h2>
				              <h4 class="experience">10 years experience</h4>
				              <h3 class="hr-txt">$20<span>/</span>Hr</h3>
				            </div>
				        </div>
				    </ion-col>
				    <ion-col class="handyman-item">
						<div class="featured-box-main">
				            <div class="featured-box-img">
				              <img src="../../assets/images/person-img1.png">
				            </div>
				            <div class="featured-box-txt">
				              <p class="rating"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
				              <h2 class="name">Trend Lin</h2>
				              <h4 class="experience">10 years experience</h4>
				              <h3 class="hr-txt">$20<span>/</span>Hr</h3>
				            </div>
				        </div>
				    </ion-col>
				    <ion-col class="handyman-item">
						<div class="featured-box-main">
				            <div class="featured-box-img">
				              <img src="../../assets/images/person-img1.png">
				            </div>
				            <div class="featured-box-txt">
				              <p class="rating"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
				              <h2 class="name">Trend Lin</h2>
				              <h4 class="experience">10 years experience</h4>
				              <h3 class="hr-txt">$20<span>/</span>Hr</h3>
				            </div>
				        </div>
				    </ion-col>
				    <ion-col class="handyman-item">
						<div class="featured-box-main">
				            <div class="featured-box-img">
				              <img src="../../assets/images/person-img1.png">
				            </div>
				            <div class="featured-box-txt">
				              <p class="rating"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
				              <h2 class="name">Trend Lin</h2>
				              <h4 class="experience">10 years experience</h4>
				              <h3 class="hr-txt">$20<span>/</span>Hr</h3>
				            </div>
				        </div>
				    </ion-col>
				    <ion-col class="handyman-item">
						<div class="featured-box-main">
				            <div class="featured-box-img">
				              <img src="../../assets/images/person-img1.png">
				            </div>
				            <div class="featured-box-txt">
				              <p class="rating"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
				              <h2 class="name">Trend Lin</h2>
				              <h4 class="experience">10 years experience</h4>
				              <h3 class="hr-txt">$20<span>/</span>Hr</h3>
				            </div>
				        </div>
				    </ion-col>
				    <ion-col class="handyman-item">
						<div class="featured-box-main">
				            <div class="featured-box-img">
				              <img src="../../assets/images/person-img1.png">
				            </div>
				            <div class="featured-box-txt">
				              <p class="rating"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
				              <h2 class="name">Trend Lin</h2>
				              <h4 class="experience">10 years experience</h4>
				              <h3 class="hr-txt">$20<span>/</span>Hr</h3>
				            </div>
				        </div>
				    </ion-col>
				    <ion-col class="handyman-item">
						<div class="featured-box-main">
				            <div class="featured-box-img">
				              <img src="../../assets/images/person-img1.png">
				            </div>
				            <div class="featured-box-txt">
				              <p class="rating"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
				              <h2 class="name">Trend Lin</h2>
				              <h4 class="experience">10 years experience</h4>
				              <h3 class="hr-txt">$20<span>/</span>Hr</h3>
				            </div>
				        </div>
				    </ion-col>
				    <ion-col class="handyman-item">
						<div class="featured-box-main">
				            <div class="featured-box-img">
				              <img src="../../assets/images/person-img1.png">
				            </div>
				            <div class="featured-box-txt">
				              <p class="rating"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
				              <h2 class="name">Trend Lin</h2>
				              <h4 class="experience">10 years experience</h4>
				              <h3 class="hr-txt">$20<span>/</span>Hr</h3>
				            </div>
				        </div>
				    </ion-col>
				</ion-row>
			</ion-slide>
		</ion-slides>
	</div>
</ion-content>
