<ion-header no-border class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>      
    </ion-buttons> -->
    <ion-button slot="start" routerDirection="back" routerLink="/tabs/home">
		<ion-icon name="arrow-back-outline"></ion-icon>
	</ion-button>
    <ion-title>{{default_language_data['translation'][0]['handyman-view-all'][0][language_selected][0]['screen_title']}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div class="main-div">
		<p *ngIf="resultDataHandyManPerSlide.length == 0" class="no-records">No records found.</p>
		<ion-slides pager [options]="handymanSlide" *ngIf="resultDataHandyManPerSlide.length > 0">
		    <ion-slide *ngFor="let slide of resultDataHandyManPerSlide; let s = index;">
				<ion-row class="handyman-list">
					<ion-col *ngFor="let handyMan of resultDataHandyManPerSlide[s]; let h = index;" class="handyman-item" (click)="showHandyMan(handyMan.id)">
						<div class="featured-box-main">
				            <div class="featured-box-img">
				              <img src="{{handyMan.profilePic}}">
				            </div>
				            <div class="featured-box-txt">
				            	<p class="rating">
									<ionic-rating-component #featuredRating{{h+1}} activeIcon = "star" defaultIcon = "star" activeColor = "#ffcd3c" defaultColor = "#f4f4f4" readonly = "true" rating = "{{handyMan.total_ratings}}" fontSize = "17px"></ionic-rating-component>  
									<!--<ion-icon name="star"></ion-icon>
									<ion-icon name="star"></ion-icon>
									<ion-icon name="star"></ion-icon>
									<ion-icon name="star"></ion-icon>
									<ion-icon name="star"></ion-icon>-->
								</p>
								<h2 class="name">{{handyMan.firstName}} {{handyMan.lastName}}</h2>
								<h4 class="experience">{{handyMan.no_of_experience}} years experience</h4>
								<h3 class="hr-txt">${{handyMan.price}}<span>/</span>{{handyMan.pricingTypeName}}</h3>
								<h3 class="pr-txt" *ngIf="handyMan.unitPricingType!=null">{{handyMan.unitPricingType}}</h3>
				            </div>
				        </div>
				    </ion-col>
				</ion-row>
			</ion-slide>			
		</ion-slides>
	</div>
</ion-content>
