<ion-header no-border class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"><img src="../../assets/images/menu-icon1.png"></ion-menu-button>     
    </ion-buttons>
    <ion-title>{{default_language_data['translation'][0]['general'][0][language_selected][0]['categories']}}</ion-title>
    <ion-button slot="end" (click)="showMyProfile()"><img src="../../assets/images/user-icon1.png"></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-div">
    <!--NEW-->
    <ion-list class="category-check-box-list">
      <ion-item class="category-check-box-item" *ngFor="let categories of resultDataCategories;let s = index;">
        <div class="category-check-box-item-inner">
          <ion-label>{{categories[language_key_exchange_array[language_selected]]}}</ion-label>
          <!-- <ion-img src="{{categories.categoryImage}}"></ion-img> -->
          <img src="{{categories.categoryImage}}">
          <!--<ion-checkbox slot="end" (ionChange)="selectedCategories($event)" value="{{categories.id}}"></ion-checkbox>-->
          <ion-checkbox slot="end" [(ngModel)]="categories.isChecked" (click)="check(categories)" [disabled]="!categories.isChecked && checkeds === category_to_be_selected_limit" (ionChange)="selectedCategories($event)" value="{{categories.id}}"></ion-checkbox>
        </div>
      </ion-item>
      <ion-item class="btns-sec">
        <ion-button (click)="postJobForCategory()">Post A Job</ion-button>
      </ion-item>
    </ion-list>
    <!--NEW-->
    <!--BEFORE-->
    <!--<ion-row class="category-box-list">
      <ion-col class="category-box-item" *ngFor="let categories of resultDataCategories;let s = index;" (click)="postJobForCategory(categories.id,categories[language_key_exchange_array[language_selected]],categories.categoryImage)">
        <div class="category-box-inner">
          <img src="{{categories.categoryImage}}">
          <h6>{{categories[language_key_exchange_array[language_selected]]}}</h6>
        </div>
      </ion-col>      
    </ion-row>-->
    <!--BEFORE-->
  </div>
</ion-content>
