<ion-header no-border class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>      
    </ion-buttons> -->
    <ion-title slot="start">Trend Lin</ion-title>
    <ion-button slot="end" (click)="backToAllHandyMan()">
		<ion-icon name="arrow-back-outline"></ion-icon>
	</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="main-div">
		<ion-row class="review-boxes-list">
			<ion-col class="review-box-item" *ngIf="is_handy_man_selected == false">
				<div class="review-box-inner">
					<div class="review-box-img">
						<img src="{{resultDataHandyMan.profilePic}}">
					</div>
					<div class="review-box-txt">
						<h2 class="title">{{resultDataHandyMan.firstName}} {{resultDataHandyMan.lastName}}</h2>
						<h3 class="sub-title">{{resultDataHandyMan.no_of_experience}} {{default_language_data['translation'][0]['handyman-selected'][0][language_selected][0]['text_experience']}}</h3>
						<p class="rating-stars"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
						<h4 class="hr-txt">${{resultDataHandyMan.price}}<span>/</span>Hr</h4>
					</div>
					<div class="review-counte-list">
						<div class="review-counte-item">
							<h2>{{resultDataHandyMan.total_reviews}}</h2>
							<h6>{{default_language_data['translation'][0]['handyman-selected'][0][language_selected][0]['text_1']}}</h6>
						</div>
						<div class="review-counte-item">
							<h2>{{totalAssignedJobs}}</h2>
							<h6>{{default_language_data['translation'][0]['handyman-selected'][0][language_selected][0]['text_2']}}</h6>
						</div>
						<div class="review-counte-item">
							<h2>{{resultDataHandyMan.total_client}}</h2>
							<h6>{{default_language_data['translation'][0]['handyman-selected'][0][language_selected][0]['text_3']}}</h6>
						</div>
					</div>
					<div class="review-box-btns">
						<ion-button color="success" (click)="selectHandyMan()">{{default_language_data['translation'][0]['handyman-selected'][0][language_selected][0]['select_handy_man_button']}}</ion-button>
					</div>
				</div>
			</ion-col>
			<ion-col class="review-box-item" *ngIf="is_handy_man_selected == true">
				<div class="review-box-inner">
					<div class="review-box-img">
						<img src="{{resultDataHandyMan.profilePic}}">
						<!-- <ion-icon name="checkmark-circle"></ion-icon> -->
						<img class="check-mark" src="../assets/images/check-mark-icon1.png">
					</div>
					<div class="review-box-txt">
						<h2 class="title">{{resultDataHandyMan.firstName}} {{resultDataHandyMan.lastName}}</h2>
						<h3 class="sub-title">{{resultDataHandyMan.no_of_experience}} {{default_language_data['translation'][0]['handyman-selected'][0][language_selected][0]['text_experience']}}</h3>
						<p class="rating-stars"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
						<h4 class="hr-txt">${{resultDataHandyMan.price}}<span>/</span>Hr</h4>
					</div>
					<div class="review-counte-list">
						<div class="review-counte-item">
							<h2>{{resultDataHandyMan.total_reviews}}</h2>
							<h6>{{default_language_data['translation'][0]['handyman-selected'][0][language_selected][0]['text_1']}}</h6>
						</div>
						<div class="review-counte-item">
							<h2>{{totalAssignedJobs}}</h2>
							<h6>{{default_language_data['translation'][0]['handyman-selected'][0][language_selected][0]['text_2']}}</h6>
						</div>
						<div class="review-counte-item">
							<h2>{{resultDataHandyMan.total_client}}</h2>
							<h6>{{default_language_data['translation'][0]['handyman-selected'][0][language_selected][0]['text_3']}}</h6>
						</div>
					</div>
					<div class="review-box-btns">
						<ion-button color="secondary" (click)="showLocation()"><ion-icon name="location-sharp"></ion-icon>{{default_language_data['translation'][0]['handyman-selected'][0][language_selected][0]['send_location_pin_button']}}</ion-button>
					</div>
				</div>
			</ion-col>
		</ion-row>
	</div>
</ion-content>
