<ion-header no-border class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>      
    </ion-buttons> -->
    <ion-title slot="start">David Cooper</ion-title>
    <ion-button slot="end"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="main-div">
		<ion-row class="review-boxes-list">
			<ion-col class="review-box-item">
				<div class="review-box-inner">
					<div class="review-box-img">
						<img src="../assets/images/person-img1.png">
					</div>
					<div class="review-box-txt">
						<h2 class="title">David Cooper</h2>
						<div class="person-contact">
							<p><ion-icon name="call"></ion-icon>+1 123-456-7890</p>
							<p><ion-icon name="location-sharp"></ion-icon>World Trade Centre, 667 VG Ave</p>
						</div>
					</div>
					<div class="review-box-btns">
						<ion-button color="success">Request for Ratings & Review</ion-button>
					</div>
				</div>
			</ion-col>
			<ion-col class="review-box-item">
				<div class="review-box-inner">
					<div class="review-box-img">
						<img src="../assets/images/person-img1.png">
					</div>
					<div class="review-box-txt">
						<h2 class="title">David Cooper</h2>
						<h3 class="sub-title">8 years experience</h3>
						<p class="rating-stars"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
						<h4 class="hr-txt">$20<span>/</span>Hr</h4>
					</div>
					<div class="review-counte-list">
						<div class="review-counte-item">
							<h2>100</h2>
							<h6>Reviews</h6>
						</div>
						<div class="review-counte-item">
							<h2>500</h2>
							<h6>Ongoing</h6>
						</div>
						<div class="review-counte-item">
							<h2>700</h2>
							<h6>Clients</h6>
						</div>
					</div>
					<div class="review-box-btns">
						<ion-button color="success">Select Handyman</ion-button>
					</div>
				</div>
			</ion-col>
			<ion-col class="review-box-item">
				<div class="review-box-inner">
					<div class="review-box-img">
						<img src="../assets/images/person-img1.png">
						<ion-icon name="checkmark-circle"></ion-icon>
					</div>
					<div class="review-box-txt">
						<h2 class="title">David Cooper</h2>
						<h3 class="sub-title">8 years experience</h3>
						<p class="rating-stars"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
						<h4 class="hr-txt">$20<span>/</span>Hr</h4>
					</div>
					<div class="review-counte-list">
						<div class="review-counte-item">
							<h2>100</h2>
							<h6>Reviews</h6>
						</div>
						<div class="review-counte-item">
							<h2>500</h2>
							<h6>Ongoing</h6>
						</div>
						<div class="review-counte-item">
							<h2>700</h2>
							<h6>Clients</h6>
						</div>
					</div>
					<div class="review-box-btns">
						<ion-button color="secondary"><ion-icon name="location-sharp"></ion-icon>Send Location Pin</ion-button>
					</div>
				</div>
			</ion-col>
		</ion-row>
	</div>
</ion-content>
