<ion-header no-border class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>      
    </ion-buttons> -->
    <ion-button slot="start"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    <ion-title>David Cooper</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="main-div">
		<ion-row class="review-boxes-list">
			<ion-col class="review-box-item">
				<div class="review-box-inner">
					<div class="review-box-img">
						<img src="../assets/images/person-img1.png">
					</div>
					<div class="review-box-txt">
						<h2 class="title">David Cooper</h2>
						<div class="person-contact">
							<p><ion-icon name="call"></ion-icon>+1 123-456-7890</p>
							<p><ion-icon name="location-sharp"></ion-icon>World Trade Centre, 667 VG Ave</p>
						</div>
					</div>
					<div class="review-box-btns">
						<ion-button color="success">Request for Ratings & Review</ion-button>
					</div>
				</div>
			</ion-col>
		</ion-row>
	</div>
</ion-content>
