<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <img src="../../assets/images/tab-home-icon1.png">
      <!-- <ion-icon name="triangle"></ion-icon> -->
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categories">
      <img src="../../assets/images/tab-category-icon1.png">
      <!-- <ion-icon name="ellipse"></ion-icon> -->
      <ion-label>Categories</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <img src="../../assets/images/tab-search-icon1.png">
      <!-- <ion-icon name="square"></ion-icon> -->
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="information">
      <img src="../../assets/images/tab-info-icon1.png">
      <!-- <ion-icon name="square"></ion-icon> -->
      <ion-label>Information</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
