<!-- <ion-header no-border class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>{{default_language_data['translation'][0]['register'][0][language_selected][0]['screen_title']}}</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header no-border class="ion-no-border" [translucent]="true">
    <ion-toolbar class="pb-0 ion-text-center">
      <ion-button slot="start" routerDirection="root" routerLink="/tabs/settings">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
    <ion-toolbar class="ptb-20 ion-text-center">
      <img src="../../assets/images/logo-white.png">
    </ion-toolbar>
    <ion-toolbar class="pt-0 ion-text-center">
      <!--<ion-buttons slot="start">
        <ion-menu-button><img src="../../assets/images/menu-icon1.png"></ion-menu-button>
      </ion-buttons>-->
      <ion-title>{{default_language_data['translation'][0]['change-password'][0][language_selected][0]['screen_title']}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main-div">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm.value)">      
      <ion-grid>                            
        <ion-row>
          <ion-col size="12">
            <ion-label position="stacked">{{default_language_data['translation'][0]['change-password'][0][language_selected][0]['password']}}</ion-label>
            <ion-input [type]="passwordType" formControlName="password"></ion-input>
            <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
            <!--VALIDATION-->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.password">
                <div class="error-message"
                  *ngIf="changePasswordForm.get('password').hasError(validation.type) && (changePasswordForm.get('password').dirty || changePasswordForm.get('password').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <p>{{ validation.message }}</p>
                </div>
              </ng-container>
            </div>
            <!--VALIDATION-->          
          </ion-col>
        </ion-row>        
        <ion-row>
          <ion-col size="12">
            <ion-label position="stacked">{{default_language_data['translation'][0]['change-password'][0][language_selected][0]['confirm_password']}}</ion-label>
            <ion-input [type]="ConfirmPasswordType" formControlName="cpassword"></ion-input>
            <ion-icon item-end [name]="ConfirmPasswordIcon" class="passwordIcon" (click)='hideShowConfirmPassword()'></ion-icon>
            <!--VALIDATION-->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.cpassword">
                <div class="error-message"
                  *ngIf="changePasswordForm.get('cpassword').hasError(validation.type) && (changePasswordForm.get('cpassword').dirty || changePasswordForm.get('cpassword').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <p>{{ validation.message }}</p>
                </div>
              </ng-container>
            </div>
            <!--VALIDATION-->          
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item lines="none">
        <ion-button type="submit" color="" [disabled]="!changePasswordForm.valid">{{default_language_data['translation'][0]['change-password'][0][language_selected][0]['change_password_in_button']}}</ion-button>
      </ion-item>
    </form>
  </div>
</ion-content>
