ion-header {
	ion-toolbar {
		--background: transparent;
		--border-width: 0px;
    	--opacity: 1;
    	--opacity-scale: unset;
		ion-title {
			padding: 0px 80px;
			padding: 0;
		}
	}
}
ion-content {
    $userBackgroundColor: #037ff1;
    $toUserBackgroundColor: #fff;

    .line-breaker {
        white-space: pre-line;
    }
    
    .no-data{
        text-align: center;
        color:#FB1F1F;
    }
    
    .message-wrap {
        padding: 0 10px;
        .message {
        position: relative;
        padding: 7px 0;
        .user-img {
            position: absolute;
            border-radius: 45px;
            width: 45px;
            height: 45px;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
        }
    
        .msg-detail {
            width: 100%;
            display: inline-block;
            p {
            margin: 0;
            }
            .msg-info {
                p {
                    font-size: .8em;
                    color: #888;
                }
            }
    
            .msg-content {
            position: relative;
            margin-top: 5px;
            border-radius: 5px;
            padding: 8px;
            border: 1px solid #ddd;
            width: auto;
            max-width: 80%;
            span.triangle {
                border-radius: 2px;
                height: 8px;
                width: 8px;
                top: 12px;
                display: block;
                border-style: solid;
                border-color: #ddd;
                border-width: 1px;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                position: absolute;
            }
            }
    
        }
        }
    
        .message-left {
        .msg-content {
            background-color: $toUserBackgroundColor;
            float: left;
        }
        .msg-detail {
            padding-left: 60px;
        }
        .user-img {
            left: 0;
        }
        .msg-content {
            color: #343434;
            span.triangle {
            border-top-width: 0;
            border-right-width: 0;
            left: -5px;
            background-color: $toUserBackgroundColor;
            }
        }
    
        }
    
        .message-right {
        .msg-detail {
            padding-right: 60px;
            .msg-info {
            text-align: right;
            }
        }
        .user-img {
            right: 0;
        }
        .msg-content {
            background-color: $userBackgroundColor;
            float: right;
            color:#FFFFFF;
            span.triangle {
            background-color: $userBackgroundColor;
            border-bottom-width: 0;
            border-left-width: 0;
            right: -5px;
            }
        }
        }
    }

    .loc-con-box {
        background: #ebebeb;
        width: calc(100% - 32px);
        /*background-color: var(--White);*/
        border-radius: 30px;
        padding: 23px 26px 27px;
        /*position: absolute;*/
        bottom: 20px;
        left: 0;
        right: 0;
        margin: 0px auto;
        margin-top:10px;
        .review-box-txt {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            padding: 0px 0px;
            margin: 0px;
            .person-contact {
                width: 100%;
                margin: 10px 0px 24px;
                p {
                    width: 100%;
                    font-size: 18px;
                    line-height: 26px;
                    font-family: var(--font-NeueHaasUnicaPro-Regular);
                    color: var(--Black);
                    text-transform: capitalize;
                    letter-spacing: normal;
                    margin: 0px 0px 4px;
                    padding: 0px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    @media(max-width:374px) {
                        font-size: 16px;
                        line-height: 24px;
                    }
                    @media(max-width:340px) {
                        align-items: flex-start;
                    }
                    ion-icon {
                        color: #8bcd77;
                        font-size: 23px;
                        margin-right: 6px;
                        @media(max-width:374px) {
                            font-size: 21px;
                        }
                        @media(max-width:340px) {
                            transform: translateY(3px);
                        }
                    }
                }
            }
            .title {
                width: 100%;
                font-size: 20px;
                line-height: 30px;
                font-family: var(--font-NeueHaasUnicaPro-Bold);
                color: var(--Black);
                text-transform: capitalize;
                letter-spacing: normal;
                margin: 0px 0px 4px;
                padding: 0px;
                @media(max-width:399px) {
                    font-size: 17px;
                    line-height: 25px;
                }
                @media(max-width:374px) {}
            }
            .sub-title {
                width: 100%;
                font-size: 17px;
                line-height: 25px;
                font-family: var(--font-NeueHaasUnicaPro-Regular);
                color: var(--Black);
                text-transform: capitalize;
                letter-spacing: normal;
                margin: 0px 0px 0px;
                padding: 0px;
                @media(max-width:399px) {
                    font-size: 14px;
                    line-height: 22px;
                }
                @media(max-width:374px) {}
            }
            .rating-stars {
                width: 100%;
                padding: 0px;
                margin: 0px 0px 16px;
                ion-icon {
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    font-size: 20px;
                    color: #f4b130;
                    margin: 0px 2px;
                }
            }
            .hr-txt {
                width: 100%;
                font-size: 18px;
                line-height: 24px;
                font-family: var(--font-Poppins-Medium);
                color: #d20808;
                text-transform: capitalize;
                letter-spacing: normal;
                margin: 0px 0px 10px;
                padding: 0px;
                @media(max-width:399px) {
                    font-size: 16px;
                    line-height: 22px;
                }
                span {
                    font-size: 14px;
                    line-height: normal;
                    margin: 0px 1px;
                    @media(max-width:374px) {
                        font-size: 12px;
                        line-height: normal;
                    }
                }
            }
        }
        .review-box-btns {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            padding: 0px;
            margin: 0px;
            ion-button {
                width: 100%;
                max-width: 100%;
                min-width: 100%;
                color: var(--Black);
                font-size: 22px;
                height: 50px;
                line-height: 50px;
                --border-radius: 30px;
                text-transform: capitalize;
                letter-spacing: normal;
                --box-shadow: none;
                font-family: var(--font-NeueHaasUnicaPro-Bold);
                margin: 0px;
                --padding-start: 20px;
                --padding-end: 20px;
                position: relative;
                ion-icon {
                    position: absolute;
                    left: 15px;
                    color: var(--White) !important;
                    @media(max-width:399px) {
                        left: 25px;
                        position: unset;
                        margin-left: -30px;
                        margin-right: 8px;
                    }
                    @media(max-width:345px) {
                        left: 0px;
                        position: unset;
                        margin: 0px 3px;
                    }
                }
                @media(max-width:399px) {
                    height: 47px;
                    line-height: 47px;
                    font-size: 19px;
                    min-width: 100%;
                    --padding-start: 14px;
                    --padding-end: 14px;
                }
                @media(max-width:345px) {
                    height: 46px;
                    line-height: 46px;
                    font-size: 17px;
                    --padding-start: 13px;
                    --padding-end: 13px;
                }
            }
        }
    }
}
ion-footer{
    ion-grid{
        ion-row{
            ion-col{
                .message-input {
                    width: 98%;
                    border: 1px solid var(--ion-color-medium);
                    border-radius: 6px;
                    background: #fff;
                    resize: none;
                    margin: 0 0 0 5px;
                    padding: 0;
                }
                ion-button{
                    height:40px;
                }
            }
        }
    }
}