<ion-app>
  <!--BEFORE::BELOW LINE ONLY-->
  <!--<ion-router-outlet></ion-router-outlet>-->
  <!--BEFORE::BELOW LINE ONLY-->
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" dir="rtl" *ngIf="rtl_or_ltr == 'rtl'">
      <ion-content>
        <ion-list id="inbox-list">  
          <ion-item class="menu-icon"><img src="../../assets/images/menu-icon1.png"></ion-item>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
              <ion-item *ngIf="p.is_function == 0" lines="full" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
              <ion-item *ngIf="p.is_function == 1 && p.title_for_menu=='Post a Job' && role=='customer'" lines="full" lines="none" detail="false" (click)="PostAJob()">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
              <ion-item *ngIf="p.is_function == 1 && p.title_for_menu=='View Jobs'" lines="full" lines="none" detail="false" (click)="ViewAJob()">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
              <ion-item *ngIf="p.is_function == 1 && p.title_for_menu=='Logout'" lines="full" lines="none" detail="false" (click)="Logout()">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
              <ion-item *ngIf="p.is_function == 1 && p.title_for_menu=='Profile'" lines="full" lines="none" detail="false" (click)="showMyProfile()">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>              
            </ion-menu-toggle>
        </ion-list>        
      </ion-content>
    </ion-menu>
    <ion-menu contentId="main-content" type="overlay" dir="ltr" *ngIf="rtl_or_ltr == 'ltr'">
      <ion-content>
        <ion-list id="inbox-list">  
          <ion-item class="menu-icon"><img src="../../assets/images/menu-icon1.png"></ion-item>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
              <ion-item *ngIf="p.is_function == 0" lines="full" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
              <ion-item *ngIf="p.is_function == 1 && p.title_for_menu=='Post a Job' && role=='customer'" lines="full" lines="none" detail="false" (click)="PostAJob()">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
              <ion-item *ngIf="p.is_function == 1 && p.title_for_menu=='View Jobs'" lines="full" lines="none" detail="false" (click)="ViewAJob()">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
              <ion-item *ngIf="p.is_function == 1 && p.title_for_menu=='Logout'" lines="full" lines="none" detail="false" (click)="Logout()">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
              <ion-item *ngIf="p.is_function == 1 && p.title_for_menu=='Profile'" lines="full" lines="none" detail="false" (click)="showMyProfile()">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>              
            </ion-menu-toggle>
        </ion-list>        
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content" dir="{{rtl_or_ltr}}"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
