<ion-header no-border class="ion-no-border">
  <ion-toolbar>      
    <ion-title slot="">{{default_language_data['translation'][0]['profile'][0][language_selected][0]['screen_title']}}</ion-title>
    <!--<ion-button slot="end" (click)="dismissModal()">
      <ion-icon name="close-sharp"></ion-icon>
    </ion-button>-->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-div">
    <form [formGroup]="registerForm" (ngSubmit)="updateProfile(registerForm.value)">
      <ion-input type="hidden" formControlName="latitude"></ion-input>
      <ion-input type="hidden" formControlName="longitude"></ion-input>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-label position="stacked">{{default_language_data['translation'][0]['register'][0][language_selected][0]['first_name']}}</ion-label>
            <ion-input type="text" formControlName="first_name"></ion-input>
            <!--VALIDATION-->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.first_name">
                <div class="error-message"
                  *ngIf="registerForm.get('first_name').hasError(validation.type) && (registerForm.get('first_name').dirty || registerForm.get('first_name').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <p>{{ validation.message }}</p>
                </div>
              </ng-container>
            </div>
            <!--VALIDATION-->          
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-label position="stacked">{{default_language_data['translation'][0]['register'][0][language_selected][0]['last_name']}}</ion-label>
            <ion-input type="text" formControlName="last_name"></ion-input>
            <!--VALIDATION-->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.last_name">
                <div class="error-message"
                  *ngIf="registerForm.get('last_name').hasError(validation.type) && (registerForm.get('last_name').dirty || registerForm.get('last_name').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <p>{{ validation.message }}</p>
                </div>
              </ng-container>
            </div>
            <!--VALIDATION-->          
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-label position="stacked">{{default_language_data['translation'][0]['register'][0][language_selected][0]['email_address']}}</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
            <!--VALIDATION-->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.email">
                <div class="error-message"
                  *ngIf="registerForm.get('email').hasError(validation.type) && (registerForm.get('email').dirty || registerForm.get('email').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <p>{{ validation.message }}</p>
                </div>
              </ng-container>
            </div>
            <!--VALIDATION-->          
          </ion-col>
        </ion-row>                    
        <ion-row>
          <ion-col size="12">
            <ion-label position="stacked">{{default_language_data['translation'][0]['register'][0][language_selected][0]['password']}}</ion-label>
            <ion-input [type]="passwordType" formControlName="password"></ion-input>
            <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
            <!--VALIDATION-->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.password">
                <div class="error-message"
                  *ngIf="registerForm.get('password').hasError(validation.type) && (registerForm.get('password').dirty || registerForm.get('password').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <p>{{ validation.message }}</p>
                </div>
              </ng-container>
            </div>
            <!--VALIDATION-->          
          </ion-col>
        </ion-row>        
        <ion-row>
          <ion-col size="12">
            <ion-label position="stacked">{{default_language_data['translation'][0]['register'][0][language_selected][0]['confirm_password']}}</ion-label>
            <ion-input [type]="ConfirmPasswordType" formControlName="cpassword"></ion-input>
            <ion-icon item-end [name]="ConfirmPasswordIcon" class="passwordIcon" (click)='hideShowConfirmPassword()'></ion-icon>
            <!--VALIDATION-->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.cpassword">
                <div class="error-message"
                  *ngIf="registerForm.get('cpassword').hasError(validation.type) && (registerForm.get('cpassword').dirty || registerForm.get('cpassword').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <p>{{ validation.message }}</p>
                </div>
              </ng-container>
            </div>
            <!--VALIDATION-->          
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item lines="none" class="ion-no-padding">
              <ion-label position="stacked">{{default_language_data['translation'][0]['register'][0][language_selected][0]['province']}}</ion-label>
              <ion-select formControlName="service_province">
                <ion-select-option *ngFor="let province of resultDataProvince;let p = index;" value="{{province.id}}">{{province[language_key_exchange_province_array[language_selected]]}}</ion-select-option>  
              </ion-select>
            </ion-item>
            <!--VALIDATION-->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.service_province">
                <div class="error-message"
                  *ngIf="registerForm.get('service_province').hasError(validation.type) && (registerForm.get('service_province').dirty || registerForm.get('service_province').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <p>{{ validation.message }}</p>
                </div>
              </ng-container>
            </div>
            <!--VALIDATION-->
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item lines="none" class="ion-no-padding">
              <ion-label position="stacked">{{default_language_data['translation'][0]['register'][0][language_selected][0]['phone_number']}}</ion-label>
              <ion-input type="number" formControlName="phone_number"></ion-input>
            </ion-item>
            <!--VALIDATION-->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.phone_number">
                <div class="error-message"
                  *ngIf="registerForm.get('phone_number').hasError(validation.type) && (registerForm.get('phone_number').dirty || registerForm.get('phone_number').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <p>{{ validation.message }}</p>
                </div>
              </ng-container>
            </div>
            <!--VALIDATION-->
          </ion-col>
        </ion-row>         
        <ion-row *ngIf="signup_as_handyman == true">
          <ion-col size="12">
            <ion-item lines="none" class="ion-no-padding">
              <ion-label position="stacked">{{default_language_data['translation'][0]['register'][0][language_selected][0]['specialized_in']}}</ion-label>
              <ion-select formControlName="specialized_in" multiple="true" (ionChange)="checkSelectedOptions($event)">
                <ion-select-option *ngFor="let categories of resultDataCategories;let s = index;" value="{{categories.id}}">{{categories[language_key_exchange_array[language_selected]]}}</ion-select-option>  
              </ion-select>
            </ion-item>
            <!--VALIDATION-->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.specialized_in">
                <div class="error-message"
                  *ngIf="registerForm.get('specialized_in').hasError(validation.type) && (registerForm.get('specialized_in').dirty || registerForm.get('specialized_in').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <p>{{ validation.message }}</p>
                </div>
              </ng-container>
            </div>
            <!--VALIDATION-->
          </ion-col>       
        </ion-row>
        <ion-row *ngIf="signup_as_handyman == true">
          <ion-col size="12">
            <ion-item lines="none" class="ion-no-padding">
              <ion-label position="stacked">{{default_language_data['translation'][0]['register'][0][language_selected][0]['pricing_type']}}</ion-label>
              <ion-select formControlName="pricing_type" (ionChange)="checkPricingType($event)">
                <ion-select-option *ngFor="let pricingType of resultPricingTypes;let s = index;" value="{{pricingType.id}}">{{pricingType.JobPricingTypeName}}</ion-select-option>  
              </ion-select>
            </ion-item>
            <!--VALIDATION-->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.pricing_type">
                <div class="error-message"
                  *ngIf="registerForm.get('pricing_type').hasError(validation.type) && (registerForm.get('pricing_type').dirty || registerForm.get('pricing_type').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <p>{{ validation.message }}</p>
                </div>
              </ng-container>
            </div>
            <!--VALIDATION-->
          </ion-col>       
        </ion-row>
        <ion-row *ngIf="signup_as_handyman == true && show_unit_type == true">
          <ion-col size="12">
            <ion-item lines="none" class="ion-no-padding">
              <ion-label position="stacked">{{default_language_data['translation'][0]['register'][0][language_selected][0]['unite_type']}}</ion-label>
              <ion-select formControlName="unite_type">
                <ion-select-option *ngFor="let unitType of resultPricingTypes[3].unit_pricing_types;let s = index;" value="{{unitType.UnitType}}">{{unitType.UnitType}}</ion-select-option>  
              </ion-select>
            </ion-item>
            <!--VALIDATION-->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.unite_type">
                <div class="error-message"
                  *ngIf="registerForm.get('unite_type').hasError(validation.type) && (registerForm.get('unite_type').dirty || registerForm.get('unite_type').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <p>{{ validation.message }}</p>
                </div>
              </ng-container>
            </div>
            <!--VALIDATION-->
          </ion-col>       
        </ion-row>
        <ion-row *ngIf="signup_as_handyman == true">
          <ion-col size="12">
            <ion-item lines="none" class="ion-no-padding">
              <ion-label position="stacked">{{default_language_data['translation'][0]['register'][0][language_selected][0]['currency_code']}}</ion-label>
              <ion-select formControlName="currency_code">
                <ion-select-option value="IQD">IQD</ion-select-option>
                <ion-select-option value="USD">USD</ion-select-option>
              </ion-select>
            </ion-item>
            <!--VALIDATION-->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.currency_code">
                <div class="error-message"
                  *ngIf="registerForm.get('currency_code').hasError(validation.type) && (registerForm.get('currency_code').dirty || registerForm.get('currency_code').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <p>{{ validation.message }}</p>
                </div>
              </ng-container>
            </div>
            <!--VALIDATION-->
          </ion-col>       
        </ion-row>
        <ion-row *ngIf="signup_as_handyman == true">
          <ion-col size="12">
            <ion-item lines="none" class="ion-no-padding">
              <ion-label position="stacked">{{default_language_data['translation'][0]['register'][0][language_selected][0]['pricing']}}</ion-label>
              <ion-input type="number" formControlName="price_per_hour"></ion-input>
            </ion-item>
            <!--VALIDATION-->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.price_per_hour">
                <div class="error-message"
                  *ngIf="registerForm.get('price_per_hour').hasError(validation.type) && (registerForm.get('price_per_hour').dirty || registerForm.get('price_per_hour').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <p>{{ validation.message }}</p>
                </div>
              </ng-container>
            </div>
            <!--VALIDATION-->
          </ion-col>       
        </ion-row>
        <ion-row *ngIf="signup_as_handyman == true">
          <ion-col size="12">
            <ion-item lines="none" class="ion-no-padding">
              <ion-label position="stacked">{{default_language_data['translation'][0]['register'][0][language_selected][0]['experience_in_year']}}</ion-label>
              <ion-input type="number" formControlName="experience_in_year"></ion-input>
            </ion-item>
            <!--VALIDATION-->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.experience_in_year">
                <div class="error-message"
                  *ngIf="registerForm.get('experience_in_year').hasError(validation.type) && (registerForm.get('experience_in_year').dirty || registerForm.get('experience_in_year').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <p>{{ validation.message }}</p>
                </div>
              </ng-container>
            </div>
            <!--VALIDATION-->
          </ion-col>       
        </ion-row>        
        <ion-row *ngIf="signup_as_handyman == true">
          <ion-col size="12">
            <ion-item>
              <ion-label position="stacked">{{default_language_data['translation'][0]['register'][0][language_selected][0]['service_in_km']}}</ion-label>
              <ion-select formControlName="service_in_km">
                <ion-select-option *ngFor="let km of max_service_range_km;let k = index;" value="{{km}}">{{km}}</ion-select-option>  
              </ion-select>
              <!--VALIDATION-->
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.service_in_km">
                  <div class="error-message"
                    *ngIf="registerForm.get('service_in_km').hasError(validation.type) && (registerForm.get('service_in_km').dirty || registerForm.get('service_in_km').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    <p>{{ validation.message }}</p>
                  </div>
                </ng-container>
              </div>
              <!--VALIDATION-->
            </ion-item>          
          </ion-col>
        </ion-row>
        <ion-row *ngIf="signup_as_handyman == true">
          <ion-col size="12">
            <ion-label position="stacked">{{default_language_data['translation'][0]['register'][0][language_selected][0]['bio']}}</ion-label>
            <ion-textarea formControlName="bio" rows="5"></ion-textarea>
            <!--VALIDATION-->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.bio">
                <div class="error-message"
                  *ngIf="registerForm.get('bio').hasError(validation.type) && (registerForm.get('bio').dirty || registerForm.get('bio').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <p>{{ validation.message }}</p>
                </div>
              </ng-container>
            </div>
            <!--VALIDATION-->          
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-label position="stacked">{{default_language_data['translation'][0]['register'][0][language_selected][0]['current_position']}}</ion-label>
            <div #gooeleMap id="gooeleMap" style="height: 300px;"></div>
          </ion-col>
        </ion-row>
        <!--SUBSCRIPTIONS PLANS-->        
        <ion-radio-group class="radio-list" formControlName="subscription_plan" *ngIf="signup_as_handyman == true">
          <ion-list>
            <ion-label class="main-title">{{default_language_data['translation'][0]['register'][0][language_selected][0]['subscription_plan_title']}}</ion-label>
            <ion-item *ngFor="let subscriptions of resultDataSubscriptionPlans;">
              <div class="plan-box-inner">
                <ion-label>{{subscriptions[language_key_exchange_subscription_plan[language_selected]]}}</ion-label>
                <p><strong>IQD</strong>&nbsp;{{subscriptions.planPrice}}</p>
                <ion-radio value="{{subscriptions.id}}"></ion-radio>
              </div>
            </ion-item>            
          </ion-list>
        </ion-radio-group>
        <!--VALIDATION-->
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.subscription_plan">
            <div class="error-message"
              *ngIf="registerForm.get('subscription_plan').hasError(validation.type) && (registerForm.get('subscription_plan').dirty || registerForm.get('subscription_plan').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <p>{{ validation.message }}</p>
            </div>
          </ng-container>
        </div>
        <!--VALIDATION-->
        <!--SUBSCRIPTIONS PLANS-->                      
      </ion-grid>            
      <ion-item lines="none">
        <ion-button type="submit" color="" [disabled]="!registerForm.valid">{{default_language_data['translation'][0]['register'][0][language_selected][0]['register_button']}}</ion-button>
      </ion-item>
    </form>
  </div>
</ion-content>