<ion-header no-border class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <!--<ion-buttons slot="start">
      <ion-menu-button><img src="../../assets/images/menu-icon1.png"></ion-menu-button>
    </ion-buttons>-->
    <ion-title>{{default_language_data['translation'][0]['register'][0][language_selected][0]['screen_title']}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-div">
    <form [formGroup]="registerForm" (ngSubmit)="makeMeRegistered(registerForm.value)">
      <ion-input type="hidden" formControlName="latitude"></ion-input>
      <ion-input type="hidden" formControlName="longitude"></ion-input>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-label position="stacked">{{default_language_data['translation'][0]['register'][0][language_selected][0]['first_name']}}</ion-label>
            <ion-input type="text" formControlName="first_name"></ion-input>
            <!--VALIDATION-->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.first_name">
                <div class="error-message"
                  *ngIf="registerForm.get('first_name').hasError(validation.type) && (registerForm.get('first_name').dirty || registerForm.get('first_name').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <p>{{ validation.message }}</p>
                </div>
              </ng-container>
            </div>
            <!--VALIDATION-->          
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-label position="stacked">{{default_language_data['translation'][0]['register'][0][language_selected][0]['last_name']}}</ion-label>
            <ion-input type="text" formControlName="last_name"></ion-input>
            <!--VALIDATION-->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.last_name">
                <div class="error-message"
                  *ngIf="registerForm.get('last_name').hasError(validation.type) && (registerForm.get('last_name').dirty || registerForm.get('last_name').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <p>{{ validation.message }}</p>
                </div>
              </ng-container>
            </div>
            <!--VALIDATION-->          
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-label position="stacked">{{default_language_data['translation'][0]['register'][0][language_selected][0]['email_address']}}</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
            <!--VALIDATION-->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.email">
                <div class="error-message"
                  *ngIf="registerForm.get('email').hasError(validation.type) && (registerForm.get('email').dirty || registerForm.get('email').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <p>{{ validation.message }}</p>
                </div>
              </ng-container>
            </div>
            <!--VALIDATION-->          
          </ion-col>
        </ion-row>                    
        <ion-row>
          <ion-col size="12">
            <ion-label position="stacked">{{default_language_data['translation'][0]['register'][0][language_selected][0]['password']}}</ion-label>
            <ion-input [type]="passwordType" formControlName="password"></ion-input>
            <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
            <!--VALIDATION-->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.password">
                <div class="error-message"
                  *ngIf="registerForm.get('password').hasError(validation.type) && (registerForm.get('password').dirty || registerForm.get('password').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <p>{{ validation.message }}</p>
                </div>
              </ng-container>
            </div>
            <!--VALIDATION-->          
          </ion-col>
        </ion-row>        
        <ion-row>
          <ion-col size="12">
            <ion-label position="stacked">{{default_language_data['translation'][0]['register'][0][language_selected][0]['confirm_password']}}</ion-label>
            <ion-input [type]="ConfirmPasswordType" formControlName="cpassword"></ion-input>
            <ion-icon item-end [name]="ConfirmPasswordIcon" class="passwordIcon" (click)='hideShowConfirmPassword()'></ion-icon>
            <!--VALIDATION-->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.cpassword">
                <div class="error-message"
                  *ngIf="registerForm.get('cpassword').hasError(validation.type) && (registerForm.get('cpassword').dirty || registerForm.get('cpassword').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <p>{{ validation.message }}</p>
                </div>
              </ng-container>
            </div>
            <!--VALIDATION-->          
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item lines="none" class="ion-no-padding">
              <ion-label position="stacked">{{default_language_data['translation'][0]['register'][0][language_selected][0]['province']}}</ion-label>
              <ion-select formControlName="service_province">
                <ion-select-option *ngFor="let province of resultDataProvince;let p = index;" value="{{province.id}}">{{province[language_key_exchange_province_array[language_selected]]}}</ion-select-option>  
              </ion-select>
            </ion-item>
            <!--VALIDATION-->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.service_province">
                <div class="error-message"
                  *ngIf="registerForm.get('service_province').hasError(validation.type) && (registerForm.get('service_province').dirty || registerForm.get('service_province').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <p>{{ validation.message }}</p>
                </div>
              </ng-container>
            </div>
            <!--VALIDATION-->
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item lines="none" class="ion-no-padding">
              <ion-label position="stacked">{{default_language_data['translation'][0]['register'][0][language_selected][0]['phone_number']}}</ion-label>
              <ion-input type="number" formControlName="phone_number"></ion-input>
            </ion-item>
            <!--VALIDATION-->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.phone_number">
                <div class="error-message"
                  *ngIf="registerForm.get('phone_number').hasError(validation.type) && (registerForm.get('phone_number').dirty || registerForm.get('phone_number').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <p>{{ validation.message }}</p>
                </div>
              </ng-container>
            </div>
            <!--VALIDATION-->
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1">
            <ion-checkbox (ionChange)="signupAsHandyman($event)" [(ngModel)]="signup_as_handyman" [ngModelOptions]="{standalone: true}"></ion-checkbox>
          </ion-col>        
          <ion-col size="11" class="mlr-10"><strong>{{default_language_data['translation'][0]['register'][0][language_selected][0]['signup_as_handyman']}}</strong></ion-col>
        </ion-row> 
        <ion-row *ngIf="signup_as_handyman == true">
          <ion-col size="12">
            <ion-item lines="none" class="ion-no-padding">
              <ion-label position="stacked">{{default_language_data['translation'][0]['register'][0][language_selected][0]['specialized_in']}}</ion-label>
              <ion-select formControlName="specialized_in" multiple="true">
                <ion-select-option *ngFor="let categories of resultDataCategories;let s = index;" value="{{categories.id}}">{{categories[language_key_exchange_array[language_selected]]}}</ion-select-option>  
              </ion-select>
            </ion-item>
            <!--VALIDATION-->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.specialized_in">
                <div class="error-message"
                  *ngIf="registerForm.get('specialized_in').hasError(validation.type) && (registerForm.get('specialized_in').dirty || registerForm.get('specialized_in').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <p>{{ validation.message }}</p>
                </div>
              </ng-container>
            </div>
            <!--VALIDATION-->
          </ion-col>       
        </ion-row>
        <ion-row *ngIf="signup_as_handyman == true">
          <ion-col size="12">
            <ion-item lines="none" class="ion-no-padding">
              <ion-label position="stacked">{{default_language_data['translation'][0]['register'][0][language_selected][0]['pricing']}}</ion-label>
              <ion-input type="number" formControlName="price_per_hour"></ion-input>
            </ion-item>
            <!--VALIDATION-->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.price_per_hour">
                <div class="error-message"
                  *ngIf="registerForm.get('price_per_hour').hasError(validation.type) && (registerForm.get('price_per_hour').dirty || registerForm.get('price_per_hour').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <p>{{ validation.message }}</p>
                </div>
              </ng-container>
            </div>
            <!--VALIDATION-->
          </ion-col>       
        </ion-row>
        <ion-row *ngIf="signup_as_handyman == true">
          <ion-col size="12">
            <ion-item lines="none" class="ion-no-padding">
              <ion-label position="stacked">{{default_language_data['translation'][0]['register'][0][language_selected][0]['experience_in_year']}}</ion-label>
              <ion-input type="number" formControlName="experience_in_year"></ion-input>
            </ion-item>
            <!--VALIDATION-->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.experience_in_year">
                <div class="error-message"
                  *ngIf="registerForm.get('experience_in_year').hasError(validation.type) && (registerForm.get('experience_in_year').dirty || registerForm.get('experience_in_year').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <p>{{ validation.message }}</p>
                </div>
              </ng-container>
            </div>
            <!--VALIDATION-->
          </ion-col>       
        </ion-row>
        <!--<ion-row *ngIf="signup_as_handyman == true">
          <ion-col size="12">
            <ion-item lines="none" class="ion-no-padding">
              <ion-label position="stacked">{{default_language_data['translation'][0]['register'][0][language_selected][0]['service_district']}}</ion-label>
              <ion-select formControlName="service_district" (ionChange)="showCitiesBasedOnDistrict($event)">
                <ion-select-option *ngFor="let districts of resultDataDistricts;let s = index;" value="{{districts.id}}">{{districts[language_key_exchange_district_array[language_selected]]}}</ion-select-option>  
              </ion-select>
            </ion-item>
            VALIDATION
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.service_district">
                <div class="error-message"
                  *ngIf="registerForm.get('service_district').hasError(validation.type) && (registerForm.get('service_district').dirty || registerForm.get('service_district').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <p>{{ validation.message }}</p>
                </div>
              </ng-container>
            </div>
            VALIDATION
          </ion-col>
        </ion-row>
        <ion-row *ngIf="signup_as_handyman == true">
          <ion-col size="12">
            <ion-item lines="none" class="ion-no-padding">
              <ion-label position="stacked">{{default_language_data['translation'][0]['register'][0][language_selected][0]['service_city']}}</ion-label>
              <ion-select formControlName="service_city">
                <ion-select-option *ngFor="let cities of resultDataCities;let s = index;" value="{{cities.id}}">{{cities[language_key_exchange_city_array[language_selected]]}}</ion-select-option>  
              </ion-select>
            </ion-item>
            VALIDATION
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.service_city">
                <div class="error-message"
                  *ngIf="registerForm.get('service_city').hasError(validation.type) && (registerForm.get('service_city').dirty || registerForm.get('service_city').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <p>{{ validation.message }}</p>
                </div>
              </ng-container>
            </div>
            VALIDATION
          </ion-col>
        </ion-row>-->
        <ion-row *ngIf="signup_as_handyman == true">
          <ion-col size="12">
            <ion-label position="stacked">{{default_language_data['translation'][0]['register'][0][language_selected][0]['service_in_km']}}</ion-label>
            <ion-input type="number" formControlName="service_in_km"></ion-input>
            <!--VALIDATION-->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.service_in_km">
                <div class="error-message"
                  *ngIf="registerForm.get('service_in_km').hasError(validation.type) && (registerForm.get('service_in_km').dirty || registerForm.get('service_in_km').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <p>{{ validation.message }}</p>
                </div>
              </ng-container>
            </div>
            <!--VALIDATION-->          
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-label position="stacked">You are currently located at mentioned position, if you wish to make it more perfect please dragg the marker at your desegired place.</ion-label>
            <div #gooeleMap id="gooeleMap" style="height: 300px;"></div>
          </ion-col>
        </ion-row>                      
      </ion-grid>      
      <ion-grid class="terms-options">
        <ion-row>
          <ion-col size="1">
            <ion-checkbox (ionChange)="acceptTerms($event)" [(ngModel)]="accept_tems" [ngModelOptions]="{standalone: true}"></ion-checkbox>
          </ion-col>        
          <ion-col size="11">{{default_language_data['translation'][0]['register'][0][language_selected][0]['terms_of_service']}} <strong (click)="openActionRequested('https://dernafies.ecnetsolutions.dev/terms-and-conditions')">{{default_language_data['translation'][0]['register'][0][language_selected][0]['terms_of_service_link_text']}}</strong></ion-col>
        </ion-row>
      </ion-grid>
      <ion-item lines="none">
        <ion-button type="submit" color="" [disabled]="!registerForm.valid || accept_tems != true">{{default_language_data['translation'][0]['register'][0][language_selected][0]['register_button']}}</ion-button>
      </ion-item>
    </form>
    <ion-grid class="other-options">
      <ion-row>        
        <ion-col size="12" class="ion-text-center" routerDirection="root" routerLink="/sign-in">{{default_language_data['translation'][0]['register'][0][language_selected][0]['have_an_account']}} <strong>{{default_language_data['translation'][0]['register'][0][language_selected][0]['login_text']}}</strong></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
