<ion-header no-border class="ion-no-border" [translucent]="true">
    <ion-toolbar>
        <!-- <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>      
            </ion-buttons> -->
        <ion-button slot="start" routerDirection="back" routerLink="/tabs/home">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
        <ion-title>{{default_language_data['translation'][0]['past-requests'][0][language_selected][0]['screen_title']}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Please wait..."></ion-refresher-content>
	</ion-refresher>
    <div class="main-div">
    	<div class="filter-main-sec">
	    	<div class="filter-txt-sec">
	    		<img class="grid-icon1" src="../assets/images/filter-icon1.png" (click)="showGridView()">
	    		<p>{{default_language_data['translation'][0]['past-requests'][0][language_selected][0]['filter_text']}}</p>
	    	</div>
	    	<div class="filter-img-sec">
                <div class="filter-img">
                    <img class="grid-icon1" src="../assets/images/grid-icon1.png" (click)="showGridView()">
                </div>
                <div class="filter-img">
                    <img class="list-icon1" src="../assets/images/list-icon1.png" (click)="showListView()">
                </div>
	    	</div>
		</div>
        <p *ngIf="jobRequestsHandyMan.length == 0" class="no-records">No records found.</p>
        <ion-row class="requ-box-list" [ngClass]="{'grid-view' : show_in_view == 'grid'}" *ngIf="jobRequestsHandyMan.length > 0">
            <ion-col class="requ-box-item" *ngFor="let jobs of jobRequestsHandyMan; let j = index;">
                <div class="requ-box-inner" *ngIf="role == 'handyman'">
                    <div class="requ-box-img">
                        <img src="{{jobs.customer.profilePic}}">
                    </div>
                    <div class="requ-box-txt">
                        <h2 class="title">{{jobs.customer.firstName}} {{jobs.customer.lastName}}</h2>
                        <h6 class="sub-title">{{jobs[language_key_exchange_array[language_selected]]}}</h6>
                        <p>Comleted by {{jobs.dateCompleted | amDateFormat: 'DD MMM yyyy'}}<!--10 May 2021--></p>
                    </div>
                    <div class="requ-box-btns">                        
                        <ion-badge color="success">${{jobs.jobPrice}}<span>Received</span></ion-badge>
                        
                    </div>
                </div>
                <div class="requ-box-inner" *ngIf="role == 'customer'">
                    <div class="requ-box-img">
                        <img src="{{jobs.handyman.profilePic}}">
                    </div>
                    <div class="requ-box-txt">
                        <h2 class="title">{{jobs.handyman.firstName}} {{jobs.handyman.lastName}}</h2>
                        <h6 class="sub-title">{{jobs[language_key_exchange_array[language_selected]]}}</h6>
                        <p>Comleted by {{jobs.dateCompleted | amDateFormat: 'DD MMM yyyy'}}<!--10 May 2021--></p>
                    </div>
                    <div class="requ-box-btns">
                        <ion-button color="primary">{{default_language_data['translation'][0]['past-requests'][0][language_selected][0]['book_again_button']}}</ion-button>
                    </div>
                </div>
            </ion-col>            
        </ion-row>
    </div>
</ion-content>