<ion-header no-border class="ion-no-border">
    <ion-toolbar>
        <!-- <ion-buttons slot="start">
            <ion-menu-button><img src="../../assets/images/menu-icon1.png"></ion-menu-button>
        </ion-buttons> -->
        <ion-title slot="">{{default_language_data['translation'][0]['profile'][0][language_selected][0]['screen_title']}}</ion-title>
        <ion-button slot="end" (click)="dismissModal()">
			<ion-icon name="close-sharp"></ion-icon>
		</ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main-div">
        <form [formGroup]="profileForm" (ngSubmit)="updateMyProfile(profileForm.value)">
		<ion-grid>
			<ion-row>
			<ion-col size="12">
				<ion-label position="stacked">{{default_language_data['translation'][0]['profile'][0][language_selected][0]['first_name']}}</ion-label>
				<ion-input type="text" formControlName="first_name"></ion-input>
				<!--VALIDATION-->
				<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.first_name">
					<div class="error-message"
					*ngIf="profileForm.get('first_name').hasError(validation.type) && (profileForm.get('first_name').dirty || profileForm.get('first_name').touched)">
					<ion-icon name="information-circle-outline"></ion-icon>
					<p>{{ validation.message }}</p>
					</div>
				</ng-container>
				</div>
				<!--VALIDATION-->          
			</ion-col>
			</ion-row>
			<ion-row>
			<ion-col size="12">
				<ion-label position="stacked">{{default_language_data['translation'][0]['profile'][0][language_selected][0]['last_name']}}</ion-label>
				<ion-input type="text" formControlName="last_name"></ion-input>
				<!--VALIDATION-->
				<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.last_name">
					<div class="error-message"
					*ngIf="profileForm.get('last_name').hasError(validation.type) && (profileForm.get('last_name').dirty || profileForm.get('last_name').touched)">
					<ion-icon name="information-circle-outline"></ion-icon>
					<p>{{ validation.message }}</p>
					</div>
				</ng-container>
				</div>
				<!--VALIDATION-->          
			</ion-col>
			</ion-row>
			<ion-row>
			<ion-col size="12">
				<ion-label position="stacked">{{default_language_data['translation'][0]['profile'][0][language_selected][0]['email_address']}}</ion-label>
				<ion-input type="email" formControlName="email"></ion-input>
				<!--VALIDATION-->
				<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.email">
					<div class="error-message"
					*ngIf="profileForm.get('email').hasError(validation.type) && (profileForm.get('email').dirty || profileForm.get('email').touched)">
					<ion-icon name="information-circle-outline"></ion-icon>
					<p>{{ validation.message }}</p>
					</div>
				</ng-container>
				</div>
				<!--VALIDATION-->          
			</ion-col>
			</ion-row>			 
			<!--<ion-row>
			<ion-col size="12">
				<ion-item lines="none" class="ion-no-padding">
				<ion-label position="stacked">{{default_language_data['translation'][0]['profile'][0][language_selected][0]['specialized_in']}}</ion-label>
				<ion-select formControlName="specialized_in">
					<ion-select-option>Information Technology</ion-select-option>  
				</ion-select>
				</ion-item>
				VALIDATION
				<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.specialized_in">
					<div class="error-message"
					*ngIf="profileForm.get('specialized_in').hasError(validation.type) && (profileForm.get('specialized_in').dirty || profileForm.get('specialized_in').touched)">
					<ion-icon name="information-circle-outline"></ion-icon>
					<p>{{ validation.message }}</p>
					</div>
				</ng-container>
				</div>
				VALIDATION
			</ion-col>       
			</ion-row>-->
			<!--<ion-row>
			<ion-col size="12">
				<ion-item lines="none" class="ion-no-padding">
				<ion-label position="stacked">{{default_language_data['translation'][0]['profile'][0][language_selected][0]['service_location']}}</ion-label>
				<ion-select formControlName="service_location">
					<ion-select-option>Caneda</ion-select-option>  
				</ion-select>
				</ion-item>
				VALIDATION
				<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.service_location">
					<div class="error-message"
					*ngIf="profileForm.get('service_location').hasError(validation.type) && (profileForm.get('service_location').dirty || profileForm.get('service_location').touched)">
					<ion-icon name="information-circle-outline"></ion-icon>
					<p>{{ validation.message }}</p>
					</div>
				</ng-container>
				</div>
				VALIDATION
			</ion-col>
			</ion-row>-->
			<!--<ion-row>
			<ion-col size="12">
				<ion-item lines="none" class="ion-no-padding">
				<ion-label position="stacked">{{default_language_data['translation'][0]['profile'][0][language_selected][0]['pricing']}}</ion-label>
				<ion-select formControlName="pricing">
					<ion-select-option>1000</ion-select-option>  
				</ion-select>
				</ion-item>
				VALIDATION
				<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.pricing">
					<div class="error-message"
					*ngIf="profileForm.get('pricing').hasError(validation.type) && (profileForm.get('pricing').dirty || profileForm.get('pricing').touched)">
					<ion-icon name="information-circle-outline"></ion-icon>
					<p>{{ validation.message }}</p>
					</div>
				</ng-container>
				</div>
				VALIDATION
			</ion-col>
			</ion-row>-->              
		</ion-grid>		
		<ion-item lines="none">
			<ion-button type="submit" color="" [disabled]="!profileForm.valid">{{default_language_data['translation'][0]['profile'][0][language_selected][0]['profile_button']}}</ion-button>
		</ion-item>
		</form>
        <ion-row class="plan-boxes">
        	<ion-col class="plan-box-main">
        		<div class="plan-box-inner">
	        		<div class="plan-txt">
	        			<h2>Upgrade your plan</h2>
	        			<p>Your next payment is 11.79 CAD to be charged on Oct 24, 2021</p>
	        		</div>
	        		<ion-button color="success">Update Plan</ion-button>
	        	</div>
        	</ion-col>
        	<ion-col class="plan-box-main">
        		<div class="plan-box-inner">
	        		<div class="plan-txt">
	        			<h2>Get featured</h2>
	        			<p>Lorem ipsum dolor amet consectetur adipiscing sed do eiusmod tempor incididunt ut laboredolore</p>
	        		</div>
	        		<ion-button color="success">Learn More</ion-button>
	        	</div>
        	</ion-col>
        </ion-row>
    </div>
</ion-content>