<ion-header no-border class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button><img src="../../assets/images/menu-icon1.png"></ion-menu-button>    
    </ion-buttons>
    <ion-title>{{default_language_data['translation'][0]['forgot-password'][0][language_selected][0]['screen_title']}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo-main">
    <img src="../../assets/images/logo.png">
  </div>
  <div class="main-div">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="resetMyPassword(forgotPasswordForm.value)">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12" class="ion-no-padding">
            <h3>{{default_language_data['translation'][0]['forgot-password'][0][language_selected][0]['screen_title']}}</h3>
          </ion-col>
          <ion-col size="12" class="ion-no-padding">
            <ion-label position="stacked">{{default_language_data['translation'][0]['forgot-password'][0][language_selected][0]['email_address']}}</ion-label>
            <ion-input type="text" placeholder="" formControlName="username" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"></ion-input>
            <!--VALIDATION-->
            <div *ngFor="let validation of validation_messages.username">
              <div class="validation-errors">
                <ng-container>
                  <div class="error-message" *ngIf="forgotPasswordForm.get('username').hasError(validation.type) && (forgotPasswordForm.get('username').dirty || forgotPasswordForm.get('username').touched)">{{ validation.message }}</div>
                </ng-container>
              </div>								
            </div>
            <!--VALIDATION-->		  
          </ion-col>          
          <ion-col size="12" class="ion-text-center ion-no-padding button-around-space">
            <ion-button type="submit" class="log-btn" [disabled]="!forgotPasswordForm.valid">{{default_language_data['translation'][0]['forgot-password'][0][language_selected][0]['forgotpassword_in_button']}}</ion-button>
          </ion-col>
          <ion-col size="12" class="ion-text-center ion-no-padding" routerDirection="root" routerLink="/sign-in">
            <p>{{default_language_data['translation'][0]['forgot-password'][0][language_selected][0]['back_to_login']}} <ion-router-link>{{default_language_data['translation'][0]['forgot-password'][0][language_selected][0]['sign_in']}}</ion-router-link></p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
