<ion-header no-border class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>      
    </ion-buttons> -->
    <ion-title slot="start">current-requests</ion-title>
    <ion-button slot="end"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <ion-segment [(ngModel)]="CurrentRequestList">
        <ion-segment-button value="AcceptRequest">Accept Request</ion-segment-button>
        <ion-segment-button value="Completed">Completed</ion-segment-button>
        <ion-segment-button value="ScheduledTime">Scheduled Time</ion-segment-button>
      </ion-segment>
  </ion-header>
  <div class="main-div">
    <div class="current-request-list" [ngSwitch]="CurrentRequestList">      
      <ion-row class="requ-box-list" *ngSwitchCase="'AcceptRequest'">
        <ion-col class="requ-box-item">
          <div class="requ-box-inner">
            <div class="requ-box-img">
              <img src="../assets/images/person-img1.png">
            </div>
            <div class="requ-box-txt">
              <h2 class="title">Johny Depp</h2>
              <h6 class="sub-title">Plumbing Repairs</h6>
              <p>20 Sep 21<span></span>2Hrs<span></span>$200</p>
            </div>
            <div class="requ-box-btns">
              <ion-button color="success">Completed</ion-button>
              <ion-button color="primary">Request Review</ion-button>
            </div>
          </div>
        </ion-col>
        <ion-col class="requ-box-item">
          <div class="requ-box-inner">
            <div class="requ-box-img">
              <img src="../assets/images/person-img1.png">
            </div>
            <div class="requ-box-txt">
              <h2 class="title">Johny Depp</h2>
              <h6 class="sub-title">Plumbing Repairs</h6>
              <p>20 Sep 21<span></span>2Hrs<span></span>$200</p>
            </div>
            <div class="requ-box-btns">
              <ion-button color="success">Completed</ion-button>
              <ion-button disabled color="primary">Request Review</ion-button>
            </div>
          </div>
        </ion-col>
        <ion-col class="requ-box-item">
          <div class="requ-box-inner">
            <div class="requ-box-img">
              <img src="../assets/images/person-img1.png">
            </div>
            <div class="requ-box-txt">
              <h2 class="title">Johny Depp</h2>
              <h6 class="sub-title">Plumbing Repairs</h6>
              <p>20 Sep 21<span></span>2Hrs<span></span>$200</p>
            </div>
            <div class="requ-box-btns">
              <ion-button color="success">Completed</ion-button>
              <ion-button color="primary">Request Review</ion-button>
            </div>
          </div>
        </ion-col>
        <ion-col class="requ-box-item">
          <div class="requ-box-inner">
            <div class="requ-box-img">
              <img src="../assets/images/person-img1.png">
            </div>
            <div class="requ-box-txt">
              <h2 class="title">Johny Depp</h2>
              <h6 class="sub-title">Plumbing Repairs</h6>
              <p>20 Sep 21<span></span>2Hrs<span></span>$200</p>
            </div>
            <div class="requ-box-btns">
              <ion-button color="success">Completed</ion-button>
              <ion-button color="primary">Request Review</ion-button>
            </div>
          </div>
        </ion-col>
        <ion-col class="requ-box-item">
          <div class="requ-box-inner">
            <div class="requ-box-img">
              <img src="../assets/images/person-img1.png">
            </div>
            <div class="requ-box-txt">
              <h2 class="title">Johny Depp</h2>
              <h6 class="sub-title">Plumbing Repairs</h6>
              <p>20 Sep 21<span></span>2Hrs<span></span>$200</p>
            </div>
            <div class="requ-box-btns">
              <ion-button color="success">Completed</ion-button>
              <ion-button color="primary">Request Review</ion-button>
            </div>
          </div>
        </ion-col>
        <ion-col class="requ-box-item">
          <div class="requ-box-inner">
            <div class="requ-box-img">
              <img src="../assets/images/person-img1.png">
            </div>
            <div class="requ-box-txt">
              <h2 class="title">Johny Depp</h2>
              <h6 class="sub-title">Plumbing Repairs</h6>
              <p>20 Sep 21<span></span>2Hrs<span></span>$200</p>
            </div>
            <div class="requ-box-btns">
              <ion-button color="success">Completed</ion-button>
              <ion-button color="primary">Request Review</ion-button>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="requ-box-list" *ngSwitchCase="'Completed'">
        <ion-col class="requ-box-item">
          <div class="requ-box-inner">
            <div class="requ-box-img">
              <img src="../assets/images/person-img1.png">
            </div>
            <div class="requ-box-txt">
              <h2 class="title">Johny Depp</h2>
              <h6 class="sub-title">Plumbing Repairs</h6>
              <p>20 Sep 21<span></span>2Hrs<span></span>$200</p>
            </div>
            <div class="requ-box-btns">
              <ion-button color="success">Completed</ion-button>
              <ion-button color="primary">Request Review</ion-button>
            </div>
          </div>
        </ion-col>
        <ion-col class="requ-box-item">
          <div class="requ-box-inner">
            <div class="requ-box-img">
              <img src="../assets/images/person-img1.png">
            </div>
            <div class="requ-box-txt">
              <h2 class="title">Johny Depp</h2>
              <h6 class="sub-title">Plumbing Repairs</h6>
              <p>20 Sep 21<span></span>2Hrs<span></span>$200</p>
            </div>
            <div class="requ-box-btns">
              <ion-button color="success">Completed</ion-button>
              <ion-button color="primary">Request Review</ion-button>
            </div>
          </div>
        </ion-col>
        <ion-col class="requ-box-item">
          <div class="requ-box-inner">
            <div class="requ-box-img">
              <img src="../assets/images/person-img1.png">
            </div>
            <div class="requ-box-txt">
              <h2 class="title">Johny Depp</h2>
              <h6 class="sub-title">Plumbing Repairs</h6>
              <p>20 Sep 21<span></span>2Hrs<span></span>$200</p>
            </div>
            <div class="requ-box-btns">
              <ion-button color="success">Completed</ion-button>
              <ion-button disabled color="primary">Request Review</ion-button>
            </div>
          </div>
        </ion-col>
        <ion-col class="requ-box-item">
          <div class="requ-box-inner">
            <div class="requ-box-img">
              <img src="../assets/images/person-img1.png">
            </div>
            <div class="requ-box-txt">
              <h2 class="title">Johny Depp</h2>
              <h6 class="sub-title">Plumbing Repairs</h6>
              <p>20 Sep 21<span></span>2Hrs<span></span>$200</p>
            </div>
            <div class="requ-box-btns">
              <ion-button color="success">Completed</ion-button>
              <ion-button color="primary">Request Review</ion-button>
            </div>
          </div>
        </ion-col>
        <ion-col class="requ-box-item">
          <div class="requ-box-inner">
            <div class="requ-box-img">
              <img src="../assets/images/person-img1.png">
            </div>
            <div class="requ-box-txt">
              <h2 class="title">Johny Depp</h2>
              <h6 class="sub-title">Plumbing Repairs</h6>
              <p>20 Sep 21<span></span>2Hrs<span></span>$200</p>
            </div>
            <div class="requ-box-btns">
              <ion-button color="success">Completed</ion-button>
              <ion-button color="primary">Request Review</ion-button>
            </div>
          </div>
        </ion-col>
        <ion-col class="requ-box-item">
          <div class="requ-box-inner">
            <div class="requ-box-img">
              <img src="../assets/images/person-img1.png">
            </div>
            <div class="requ-box-txt">
              <h2 class="title">Johny Depp</h2>
              <h6 class="sub-title">Plumbing Repairs</h6>
              <p>20 Sep 21<span></span>2Hrs<span></span>$200</p>
            </div>
            <div class="requ-box-btns">
              <ion-button color="success">Completed</ion-button>
              <ion-button color="primary">Request Review</ion-button>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="requ-box-list" *ngSwitchCase="'ScheduledTime'">
        <ion-col class="requ-box-item">
          <div class="requ-box-inner">
            <div class="requ-box-img">
              <img src="../assets/images/person-img1.png">
            </div>
            <div class="requ-box-txt">
              <h2 class="title">Johny Depp</h2>
              <h6 class="sub-title">Plumbing Repairs</h6>
              <p>20 Sep 21<span></span>2Hrs<span></span>$200</p>
            </div>
            <div class="requ-box-btns">
              <ion-button color="success">Completed</ion-button>
              <ion-button color="primary">Request Review</ion-button>
            </div>
          </div>
        </ion-col>
        <ion-col class="requ-box-item">
          <div class="requ-box-inner">
            <div class="requ-box-img">
              <img src="../assets/images/person-img1.png">
            </div>
            <div class="requ-box-txt">
              <h2 class="title">Johny Depp</h2>
              <h6 class="sub-title">Plumbing Repairs</h6>
              <p>20 Sep 21<span></span>2Hrs<span></span>$200</p>
            </div>
            <div class="requ-box-btns">
              <ion-button color="success">Completed</ion-button>
              <ion-button color="primary">Request Review</ion-button>
            </div>
          </div>
        </ion-col>
        <ion-col class="requ-box-item">
          <div class="requ-box-inner">
            <div class="requ-box-img">
              <img src="../assets/images/person-img1.png">
            </div>
            <div class="requ-box-txt">
              <h2 class="title">Johny Depp</h2>
              <h6 class="sub-title">Plumbing Repairs</h6>
              <p>20 Sep 21<span></span>2Hrs<span></span>$200</p>
            </div>
            <div class="requ-box-btns">
              <ion-button color="success">Completed</ion-button>
              <ion-button color="primary">Request Review</ion-button>
            </div>
          </div>
        </ion-col>
        <ion-col class="requ-box-item">
          <div class="requ-box-inner">
            <div class="requ-box-img">
              <img src="../assets/images/person-img1.png">
            </div>
            <div class="requ-box-txt">
              <h2 class="title">Johny Depp</h2>
              <h6 class="sub-title">Plumbing Repairs</h6>
              <p>20 Sep 21<span></span>2Hrs<span></span>$200</p>
            </div>
            <div class="requ-box-btns">
              <ion-button color="success">Completed</ion-button>
              <ion-button color="primary">Request Review</ion-button>
            </div>
          </div>
        </ion-col>
        <ion-col class="requ-box-item">
          <div class="requ-box-inner">
            <div class="requ-box-img">
              <img src="../assets/images/person-img1.png">
            </div>
            <div class="requ-box-txt">
              <h2 class="title">Johny Depp</h2>
              <h6 class="sub-title">Plumbing Repairs</h6>
              <p>20 Sep 21<span></span>2Hrs<span></span>$200</p>
            </div>
            <div class="requ-box-btns">
              <ion-button color="success">Completed</ion-button>
              <ion-button color="primary">Request Review</ion-button>
            </div>
          </div>
        </ion-col>
        <ion-col class="requ-box-item">
          <div class="requ-box-inner">
            <div class="requ-box-img">
              <img src="../assets/images/person-img1.png">
            </div>
            <div class="requ-box-txt">
              <h2 class="title">Johny Depp</h2>
              <h6 class="sub-title">Plumbing Repairs</h6>
              <p>20 Sep 21<span></span>2Hrs<span></span>$200</p>
            </div>
            <div class="requ-box-btns">
              <ion-button color="success">Completed</ion-button>
              <ion-button disabled color="primary">Request Review</ion-button>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
