ion-header {
	ion-toolbar {
		--background: transparent;
	}
}
ion-content {
	--border-radius: 0px;
    --background: transparent;
    --border: none;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
        height: 50px;
        background-color: #fff;
        z-index: -1;
    }
    ion-header {
        padding: 5px 16px 20px;
        h2 {
            width: 100%;
            text-align: var(--text-left);
            font-size: 22px;
            line-height: 32px;
            font-family: var(--font-Poppins-Regular);
            color: var(--White);
            text-transform: capitalize;
            letter-spacing: normal;
            margin: 0px;
            padding: 0px;
            @media(max-width:374px) {
                font-size: 20px;
                line-height: 30px;
            }
        }
        h1 {
            width: 100%;
            text-align: var(--text-left);
            font-size: 28px;
            line-height: 38px;
            font-family: var(--font-Poppins-Bold);
            color: var(--White);
            text-transform: capitalize;
            letter-spacing: normal;
            margin: 0px;
            padding: 0px;
        }
        @media(max-width:374px) {
            font-size: 25px;
            line-height: 35px;
        }
    }
    .main-div {
        background: #f8f8f8;
        padding: 30px 16px 60px;
        border-radius: 35px 35px 50px 50px;
    }
}