<ion-header no-border class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"><img src="../../assets/images/menu-icon1.png"></ion-menu-button>     
    </ion-buttons>
    <ion-title>{{welcome_text}}</ion-title>
    <ion-button slot="end" (click)="showMyProfile()"><img src="../../assets/images/user-icon1.png"></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--REFRESHER-->	
	<ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Please wait..."></ion-refresher-content>
	</ion-refresher>
	<!--REFRESHER-->
  <!--<ion-header>
    <h2>{{welcome_text}}</h2>
    <h1>{{greetings}}</h1>
  </ion-header>-->
  <div class="main-div">
    <div class="rsr-sec" *ngIf="role == 'handyman'">
      <h2>{{default_language_data['translation'][0]['home'][0][language_selected][0]['recent_service_request']}}<span>({{jobRequestsHandyMan.length}})</span></h2>
      <p *ngIf="jobRequestsHandyMan.length == 0" class="no-records">No records found.</p>
      <ion-row class="rsr-list">
        <ion-col class="rsr-item" *ngFor="let job of jobRequestsHandyMan; let j = index;">
          <div class="icon-details">
            <div class="rsr-icon">
              <img src="{{job.categoryImage}}">
            </div>
            <div class="rsr-details">
              <h3>{{job[language_key_exchange_array[language_selected]]}}</h3>
              <p>{{job.description}}</p>
              <ion-row>
                <ion-col class="loc-icon"><ion-icon name="location-sharp"></ion-icon></ion-col>
                <ion-col class="loc-text">
                  <h5><strong>Street:</strong> {{job.jobAddress}}</h5>
                  <!--<h5><strong>City:</strong> Shawinigan</h5>-->
                  <h5><strong>Province:</strong> {{job[province_language_key_exchange_array[language_selected]]}}</h5>
                </ion-col>
              </ion-row>
            </div>
          </div>
          <div class="rsr-buttons">
            <ion-list>
              <ion-item><ion-button color="primary" (click)="showMapWithLocations(job.id,job.assignedTrademan,job.latitude,job.longitude)">{{default_language_data['translation'][0]['general'][0][language_selected][0]['location_map']}}</ion-button></ion-item>
              <ion-item><ion-button color="success" (click)="confirmUpdateJobStatusHandyMan(job.id,2)"><ion-icon name="checkmark-outline"></ion-icon>{{default_language_data['translation'][0]['general'][0][language_selected][0]['accept_text']}}</ion-button></ion-item>
              <ion-item><ion-button color="danger" (click)="confirmUpdateJobStatusHandyMan(job.id,4)"><ion-icon name="close-outline"></ion-icon>{{default_language_data['translation'][0]['general'][0][language_selected][0]['reject_text']}}</ion-button></ion-item>
            </ion-list>
          </div>
        </ion-col>        
      </ion-row>
    </div>
    <div class="src-box-main" *ngIf="role == 'customer'">
      <form #searchHandyMan="ngForm" novalidate class="search-form">
        <ion-searchbar placeholder="{{default_language_data['translation'][0]['home'][0][language_selected][0]['search_for_services']}}" type="search" autocomplete="off" autocorrect="off" spellcheck="false" name="search_text" [(ngModel)]="search_text" [ngModelOptions]="{standalone: false}" (keydown.enter)="searchForHandyMan(searchHandyMan)"></ion-searchbar>
      </form>
    </div>
    <div class="category-slider-main" *ngIf="role == 'customer'">
      <div class="title-main">
        <h2>{{default_language_data['translation'][0]['general'][0][language_selected][0]['categories']}}<ion-router-link routerDirection="forward" routerLink="/tabs/categories" >{{default_language_data['translation'][0]['general'][0][language_selected][0]['view_all']}}</ion-router-link></h2>
      </div>
      <ion-slides pager [options]="categorieSlide" dir="rtl" *ngIf="rtl_or_ltr == 'rtl'">
        <ion-slide *ngFor="let categories of resultDataCategories;let s = index;">
          <div class="category-box-inner" (click)="showHandyManByCategory(categories.id)">
            <img src="{{categories.categoryImage}}">
            <h6>{{categories[language_key_exchange_array[language_selected]]}}</h6>
          </div>
        </ion-slide>        
      </ion-slides>
      <ion-slides pager [options]="categorieSlide" dir="ltr" *ngIf="rtl_or_ltr == 'ltr'">
        <ion-slide *ngFor="let categories of resultDataCategories;let s = index;">
          <div class="category-box-inner" (click)="showHandyManByCategory(categories.id)">
            <img src="{{categories.categoryImage}}">
            <h6>{{categories[language_key_exchange_array[language_selected]]}}</h6>
          </div>
        </ion-slide>        
      </ion-slides>
    </div>
    <div class="completed-service-main" *ngIf="role == 'customer'">
      <div class="title-main">
        <h2>{{default_language_data['translation'][0]['home'][0][language_selected][0]['completed_services']}}<ion-router-link routerDirection="forward" routerLink="/tabs/past-requests" >{{default_language_data['translation'][0]['general'][0][language_selected][0]['view_all']}}</ion-router-link></h2>
      </div>
      <p *ngIf="completedJobRequestsHandyMan.length == 0" class="no-records">No records found.</p>
      <ion-row class="requ-box-list" *ngIf="completedJobRequestsHandyMan.length > 0">
        <ion-col class="requ-box-item" *ngFor="let jobCompleted of completedJobRequestsHandyMan; let jc = index;">
          <div class="requ-box-inner">
            <div class="requ-box-img">
              <img src="{{jobCompleted.handyman.profilePic}}">
            </div>
            <div class="requ-box-txt">
              <h2 class="title">{{jobCompleted.handyman.firstName}} {{jobCompleted.handyman.lastName}}</h2>
              <h6 class="sub-title">{{jobCompleted[language_key_exchange_array[language_selected]]}}</h6>
              <p>
                <ionic-rating-component #completedRating{{jc+1}} activeIcon = "star" defaultIcon = "star" activeColor = "#ffcd3c" defaultColor = "#f4f4f4" readonly = "true" rating = "{{jobCompleted.handyman.total_ratings}}" fontSize = "17px"></ionic-rating-component>
                <!--<ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>-->
                <strong>{{jobCompleted.handyman.total_ratings}}</strong>
              </p>
            </div>
            <div class="requ-box-btns">
              <ion-button color="primary" *ngIf="jobCompleted.paid == 1 && jobCompleted.handyman.total_ratings == 0" (click)="addReviewAndRating(jobCompleted.id,jobCompleted[language_key_exchange_array[language_selected]],jobCompleted.assignedTrademan)">{{default_language_data['translation'][0]['general'][0][language_selected][0]['button_rate_and_review']}}</ion-button>
              <ion-button color="primary" *ngIf="jobCompleted.paid == 0 && jobCompleted.handyman.total_ratings > 0" disabled="true">{{default_language_data['translation'][0]['general'][0][language_selected][0]['button_rate_and_review']}}</ion-button>
              <div class="requ-details">
                <p><span></span>{{jobCompleted.dateCompleted | amDateFormat: 'DD MMM yyyy'}}<!--20 Sep 21--></p>
                <p><span></span>{{jobCompleted.jobHours}}Hrs</p>
                <p><span></span>${{jobCompleted.jobPrice}}</p>
                <p><span></span>{{jobCompleted.jobPricingType}}</p>
                <p *ngIf="jobCompleted.jobUnitPricingType!=null"><span></span>{{jobCompleted.jobUnitPricingType}}</p>
              </div>
            </div>
          </div>
        </ion-col>        
      </ion-row>
    </div>
    <div class="featured-slider-main" *ngIf="role == 'customer'">
      <div class="title-main">
        <h2 (click)="showAllHandyMan()">{{default_language_data['translation'][0]['home'][0][language_selected][0]['featured_handyman']}}<ion-router-link>{{default_language_data['translation'][0]['general'][0][language_selected][0]['view_all']}}</ion-router-link></h2>
      </div>
      <div *ngIf="resultDataFeaturedHandyMan.length > 0">
        <ion-slides [options]="featuredSlide" dir="rtl" *ngIf="rtl_or_ltr == 'rtl'">
          <ion-slide *ngFor="let handyMan of resultDataFeaturedHandyMan; let h = index" (click)="showHandyMan(handyMan.id)">
            <div class="featured-box-main">
              <div class="featured-box-img">
                <img src="{{handyMan.profilePic}}">
              </div>
              <div class="featured-box-txt">
                <p class="rating">
                  <ionic-rating-component #featuredRating{{h+1}} activeIcon = "star" defaultIcon = "star" activeColor = "#ffcd3c" defaultColor = "#f4f4f4" readonly = "true" rating = "{{handyMan.total_ratings}}" fontSize = "17px"></ionic-rating-component>
                  <!--<ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>-->
                </p>
                <h2 class="name">{{handyMan.firstName}} {{handyMan.lastName}}</h2>
                <h4 class="experience">{{handyMan.no_of_experience}} years experience</h4>
                <h3 class="hr-txt">${{handyMan.price}}<span>/</span>{{handyMan.pricingTypes.pricingTypeName}}</h3>
                <h3 class="pr-txt" *ngIf="handyMan.pricingTypes.unitPricingType!=null">{{handyMan.pricingTypes.unitPricingType}}</h3>
              </div>
            </div>
          </ion-slide>
        </ion-slides>
        <ion-slides [options]="featuredSlide" dir="ltr" *ngIf="rtl_or_ltr == 'ltr'">
          <ion-slide *ngFor="let handyMan of resultDataFeaturedHandyMan; let h = index" (click)="showHandyMan(handyMan.id)">
            <div class="featured-box-main">
              <div class="featured-box-img">
                <img src="{{handyMan.profilePic}}">
              </div>
              <div class="featured-box-txt">
                <p class="rating">
                  <ionic-rating-component #featuredRating{{h+1}} activeIcon = "star" defaultIcon = "star" activeColor = "#ffcd3c" defaultColor = "#f4f4f4" readonly = "true" rating = "{{handyMan.total_ratings}}" fontSize = "17px"></ionic-rating-component>
                  <!--<ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>-->
                </p>
                <h2 class="name">{{handyMan.firstName}} {{handyMan.lastName}}</h2>
                <h4 class="experience">{{handyMan.no_of_experience}} years experience</h4>
                <h3 class="hr-txt">${{handyMan.price}}<span>/</span>{{handyMan.pricingTypes.pricingTypeName}}</h3>
                <h3 class="pr-txt" *ngIf="handyMan.pricingTypes.unitPricingType!=null">{{handyMan.pricingTypes.unitPricingType}}</h3>
              </div>
            </div>
          </ion-slide>          
        </ion-slides>
      </div>
    </div>
  </div>
</ion-content>
