<ion-header no-border class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button><img src="../../assets/images/menu-icon1.png"></ion-menu-button>     
    </ion-buttons>
    <!-- <ion-title>Home</ion-title> -->
    <ion-button slot="end"><img src="../../assets/images/user-icon1.png"></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <h2>Hi, Johny Depp</h2>
    <h1>Good Morning</h1>
  </ion-header>
  <div class="main-div">
    <div class="rsr-sec">
      <h3>Recent Service Requests<span>(124)</span></h3>
      <ion-row class="rsr-list">
        <ion-col class="rsr-item">
          <div class="icon-details">
            <div class="rsr-icon">
              <img src="../../assets/images/home-icon1.png">
            </div>
            <div class="rsr-details">
              <h3>Home Repair</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipig elitsed do eiusmod tempor incididunt</p>
              <ion-row>
                <ion-col class="loc-icon"><ion-icon name="location-sharp"></ion-icon></ion-col>
                <ion-col class="loc-text">
                  <h5><strong>Street:</strong> 4304 boulevard des Laurentides</h5>
                  <h5><strong>City:</strong> Shawinigan</h5>
                  <h5><strong>Province:</strong> Quebec</h5>
                </ion-col>
              </ion-row>
            </div>
          </div>
          <div class="rsr-buttons">
            <ion-list>
              <ion-item><ion-button color="primary">Location Map</ion-button></ion-item>
              <ion-item><ion-button color="success"><ion-icon name="checkmark-outline"></ion-icon>Accept</ion-button></ion-item>
              <ion-item><ion-button color="danger"><ion-icon name="close-outline"></ion-icon>Reject</ion-button></ion-item>
            </ion-list>
          </div>
        </ion-col>
        <ion-col class="rsr-item">
          <div class="icon-details">
            <div class="rsr-icon">
              <img src="../../assets/images/home-icon1.png">
            </div>
            <div class="rsr-details">
              <h3>Home Repair</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipig elitsed do eiusmod tempor incididunt</p>
              <ion-row>
                <ion-col class="loc-icon"><ion-icon name="location-sharp"></ion-icon></ion-col>
                <ion-col class="loc-text">
                  <h5><strong>Street:</strong> 4304 boulevard des Laurentides</h5>
                  <h5><strong>City:</strong> Shawinigan</h5>
                  <h5><strong>Province:</strong> Quebec</h5>
                </ion-col>
              </ion-row>
            </div>
          </div>
          <div class="rsr-buttons">
            <ion-list>
              <ion-item><ion-button color="primary">Location Map</ion-button></ion-item>
              <ion-item><ion-button color="success"><ion-icon name="checkmark-outline"></ion-icon>Accept</ion-button></ion-item>
              <ion-item><ion-button color="danger"><ion-icon name="close-outline"></ion-icon>Reject</ion-button></ion-item>
            </ion-list>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
