<ion-header no-border class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button><img src="../../assets/images/menu-icon1.png"></ion-menu-button>     
    </ion-buttons>
    <!-- <ion-title>Home</ion-title> -->
    <ion-button slot="end" (click)="showMyProfile()"><img src="../../assets/images/user-icon1.png"></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <h2>{{welcome_text}}</h2>
    <h1>{{greetings}}</h1>
  </ion-header>
  <div class="main-div">
    <div class="rsr-sec" *ngIf="role == 'handyman'">
      <h2>Recent Service Requests<span>(124)</span></h2>
      <ion-row class="rsr-list">
        <ion-col class="rsr-item">
          <div class="icon-details">
            <div class="rsr-icon">
              <img src="../../assets/images/home-icon1.png">
            </div>
            <div class="rsr-details">
              <h3>Home Repair</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipig elitsed do eiusmod tempor incididunt</p>
              <ion-row>
                <ion-col class="loc-icon"><ion-icon name="location-sharp"></ion-icon></ion-col>
                <ion-col class="loc-text">
                  <h5><strong>Street:</strong> 4304 boulevard des Laurentides</h5>
                  <h5><strong>City:</strong> Shawinigan</h5>
                  <h5><strong>Province:</strong> Quebec</h5>
                </ion-col>
              </ion-row>
            </div>
          </div>
          <div class="rsr-buttons">
            <ion-list>
              <ion-item><ion-button color="primary">Location Map</ion-button></ion-item>
              <ion-item><ion-button color="success"><ion-icon name="checkmark-outline"></ion-icon>Accept</ion-button></ion-item>
              <ion-item><ion-button color="danger"><ion-icon name="close-outline"></ion-icon>Reject</ion-button></ion-item>
            </ion-list>
          </div>
        </ion-col>
        <ion-col class="rsr-item">
          <div class="icon-details">
            <div class="rsr-icon">
              <img src="../../assets/images/home-icon1.png">
            </div>
            <div class="rsr-details">
              <h3>Home Repair</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipig elitsed do eiusmod tempor incididunt</p>
              <ion-row>
                <ion-col class="loc-icon"><ion-icon name="location-sharp"></ion-icon></ion-col>
                <ion-col class="loc-text">
                  <h5><strong>Street:</strong> 4304 boulevard des Laurentides</h5>
                  <h5><strong>City:</strong> Shawinigan</h5>
                  <h5><strong>Province:</strong> Quebec</h5>
                </ion-col>
              </ion-row>
            </div>
          </div>
          <div class="rsr-buttons">
            <ion-list>
              <ion-item><ion-button color="primary">Location Map</ion-button></ion-item>
              <ion-item><ion-button color="success"><ion-icon name="checkmark-outline"></ion-icon>Accept</ion-button></ion-item>
              <ion-item><ion-button color="danger"><ion-icon name="close-outline"></ion-icon>Reject</ion-button></ion-item>
            </ion-list>
          </div>
        </ion-col>
        <ion-col class="rsr-item">
          <div class="icon-details">
            <div class="rsr-icon">
              <img src="../../assets/images/home-icon1.png">
            </div>
            <div class="rsr-details">
              <h3>Home Repair</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipig elitsed do eiusmod tempor incididunt</p>
              <ion-row>
                <ion-col class="loc-icon"><ion-icon name="location-sharp"></ion-icon></ion-col>
                <ion-col class="loc-text">
                  <h5><strong>Street:</strong> 4304 boulevard des Laurentides</h5>
                  <h5><strong>City:</strong> Shawinigan</h5>
                  <h5><strong>Province:</strong> Quebec</h5>
                </ion-col>
              </ion-row>
            </div>
          </div>
          <div class="rsr-buttons">
            <ion-list>
              <ion-item><ion-button color="primary">Location Map</ion-button></ion-item>
              <ion-item><ion-button color="success"><ion-icon name="checkmark-outline"></ion-icon>Accept</ion-button></ion-item>
              <ion-item><ion-button color="danger"><ion-icon name="close-outline"></ion-icon>Reject</ion-button></ion-item>
            </ion-list>
          </div>
        </ion-col>
        <ion-col class="rsr-item">
          <div class="icon-details">
            <div class="rsr-icon">
              <img src="../../assets/images/home-icon1.png">
            </div>
            <div class="rsr-details">
              <h3>Home Repair</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipig elitsed do eiusmod tempor incididunt</p>
              <ion-row>
                <ion-col class="loc-icon"><ion-icon name="location-sharp"></ion-icon></ion-col>
                <ion-col class="loc-text">
                  <h5><strong>Street:</strong> 4304 boulevard des Laurentides</h5>
                  <h5><strong>City:</strong> Shawinigan</h5>
                  <h5><strong>Province:</strong> Quebec</h5>
                </ion-col>
              </ion-row>
            </div>
          </div>
          <div class="rsr-buttons">
            <ion-list>
              <ion-item><ion-button color="primary">Location Map</ion-button></ion-item>
              <ion-item><ion-button color="success"><ion-icon name="checkmark-outline"></ion-icon>Accept</ion-button></ion-item>
              <ion-item><ion-button color="danger"><ion-icon name="close-outline"></ion-icon>Reject</ion-button></ion-item>
            </ion-list>
          </div>
        </ion-col>
        <ion-col class="rsr-item">
          <div class="icon-details">
            <div class="rsr-icon">
              <img src="../../assets/images/home-icon1.png">
            </div>
            <div class="rsr-details">
              <h3>Home Repair</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipig elitsed do eiusmod tempor incididunt</p>
              <ion-row>
                <ion-col class="loc-icon"><ion-icon name="location-sharp"></ion-icon></ion-col>
                <ion-col class="loc-text">
                  <h5><strong>Street:</strong> 4304 boulevard des Laurentides</h5>
                  <h5><strong>City:</strong> Shawinigan</h5>
                  <h5><strong>Province:</strong> Quebec</h5>
                </ion-col>
              </ion-row>
            </div>
          </div>
          <div class="rsr-buttons">
            <ion-list>
              <ion-item><ion-button color="primary">Location Map</ion-button></ion-item>
              <ion-item><ion-button color="success"><ion-icon name="checkmark-outline"></ion-icon>Accept</ion-button></ion-item>
              <ion-item><ion-button color="danger"><ion-icon name="close-outline"></ion-icon>Reject</ion-button></ion-item>
            </ion-list>
          </div>
        </ion-col>
        <ion-col class="rsr-item">
          <div class="icon-details">
            <div class="rsr-icon">
              <img src="../../assets/images/home-icon1.png">
            </div>
            <div class="rsr-details">
              <h3>Home Repair</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipig elitsed do eiusmod tempor incididunt</p>
              <ion-row>
                <ion-col class="loc-icon"><ion-icon name="location-sharp"></ion-icon></ion-col>
                <ion-col class="loc-text">
                  <h5><strong>Street:</strong> 4304 boulevard des Laurentides</h5>
                  <h5><strong>City:</strong> Shawinigan</h5>
                  <h5><strong>Province:</strong> Quebec</h5>
                </ion-col>
              </ion-row>
            </div>
          </div>
          <div class="rsr-buttons">
            <ion-list>
              <ion-item><ion-button color="primary">Location Map</ion-button></ion-item>
              <ion-item><ion-button color="success"><ion-icon name="checkmark-outline"></ion-icon>Accept</ion-button></ion-item>
              <ion-item><ion-button color="danger"><ion-icon name="close-outline"></ion-icon>Reject</ion-button></ion-item>
            </ion-list>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="src-box-main" *ngIf="role == 'customer'">
      <ion-searchbar placeholder="{{default_language_data['translation'][0]['home'][0][language_selected][0]['search_for_services']}}" animated></ion-searchbar>
    </div>
    <div class="category-slider-main" *ngIf="role == 'customer'">
      <div class="title-main">
        <h2>{{default_language_data['translation'][0]['general'][0][language_selected][0]['categories']}}<ion-router-link href="Javascript:;" >{{default_language_data['translation'][0]['general'][0][language_selected][0]['view_all']}}</ion-router-link></h2>
      </div>
      <ion-slides pager [options]="categorieSlide">
        <ion-slide>
          <div class="category-box-inner">
            <img src="../../assets/images/home-icon1.png">
            <h6>Home Repair</h6>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="category-box-inner">
            <img src="../../assets/images/electrician-icon1.png">
            <h6>Electrician</h6>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="category-box-inner">
            <img src="../../assets/images/plumbing-icon1.png">
            <h6>Plumbing</h6>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="category-box-inner">
            <img src="../../assets/images/roofing-icon1.png">
            <h6>Roofing</h6>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="category-box-inner">
            <img src="../../assets/images/cleaning-icon1.png">
            <h6>Cleaning</h6>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="category-box-inner">
            <img src="../../assets/images/painting-icon1.png">
            <h6>Painting</h6>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="category-box-inner">
            <img src="../../assets/images/fittings-icon1.png">
            <h6>Fittings</h6>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="category-box-inner">
            <img src="../../assets/images/lawn-icon1.png">
            <h6>Lawn</h6>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="category-box-inner">
            <img src="../../assets/images/pawement-icon1.png">
            <h6>Pawement</h6>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="category-box-inner">
            <img src="../../assets/images/maid-icon1.png">
            <h6>House Maid</h6>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="category-box-inner">
            <img src="../../assets/images/carpenter-icon1.png">
            <h6>Carpenter</h6>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="category-box-inner">
            <img src="../../assets/images/carpet-icon1.png">
            <h6>Carpet Cleaning</h6>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="completed-service-main" *ngIf="role == 'customer'">
      <div class="title-main">
        <h2>{{default_language_data['translation'][0]['home'][0][language_selected][0]['completed_services']}}<ion-router-link href="Javascript:;" >{{default_language_data['translation'][0]['general'][0][language_selected][0]['view_all']}}</ion-router-link></h2>
      </div>
      <ion-row class="requ-box-list">
        <ion-col class="requ-box-item">
          <div class="requ-box-inner">
            <div class="requ-box-img">
              <img src="../assets/images/person-img1.png">
            </div>
            <div class="requ-box-txt">
              <h2 class="title">Johny Depp</h2>
              <h6 class="sub-title">Plumbing Repairs</h6>
              <p><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><strong>4.9</strong></p>
            </div>
            <div class="requ-box-btns">
              <ion-button color="success">{{default_language_data['translation'][0]['general'][0][language_selected][0]['completed_text']}}</ion-button>
              <div class="requ-details">
                <p><span></span>20 Sep 21</p>
                <p><span></span>2Hrs</p>
                <p><span></span>$200</p>
              </div>
            </div>
          </div>
        </ion-col>
        <ion-col class="requ-box-item">
          <div class="requ-box-inner">
            <div class="requ-box-img">
              <img src="../assets/images/person-img1.png">
            </div>
            <div class="requ-box-txt">
              <h2 class="title">Johny Depp</h2>
              <h6 class="sub-title">Plumbing Repairs</h6>
              <p><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><strong>4.9</strong></p>
            </div>
            <div class="requ-box-btns">
              <ion-button color="success">{{default_language_data['translation'][0]['general'][0][language_selected][0]['completed_text']}}</ion-button>
              <div class="requ-details">
                <p><span></span>20 Sep 21</p>
                <p><span></span>2Hrs</p>
                <p><span></span>$200</p>
              </div>
            </div>
          </div>
        </ion-col>
        <ion-col class="requ-box-item">
          <div class="requ-box-inner">
            <div class="requ-box-img">
              <img src="../assets/images/person-img1.png">
            </div>
            <div class="requ-box-txt">
              <h2 class="title">Johny Depp</h2>
              <h6 class="sub-title">Plumbing Repairs</h6>
              <p><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><strong>4.9</strong></p>
            </div>
            <div class="requ-box-btns">
              <ion-button color="success">{{default_language_data['translation'][0]['general'][0][language_selected][0]['completed_text']}}</ion-button>
              <div class="requ-details">
                <p><span></span>20 Sep 21</p>
                <p><span></span>2Hrs</p>
                <p><span></span>$200</p>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="featured-slider-main" *ngIf="role == 'customer'">
      <div class="title-main">
        <h2>{{default_language_data['translation'][0]['home'][0][language_selected][0]['featured_handyman']}}<ion-router-link href="/tabs/handyman-view-all">{{default_language_data['translation'][0]['general'][0][language_selected][0]['view_all']}}</ion-router-link></h2>
      </div>
      <ion-slides [options]="featuredSlide">
        <ion-slide (click)="showHandyMan()">
          <div class="featured-box-main">
            <div class="featured-box-img">
              <img src="../../assets/images/person-img1.png">
            </div>
            <div class="featured-box-txt">
              <p class="rating"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
              <h2 class="name">Trend Lin</h2>
              <h4 class="experience">10 years experience</h4>
              <h3 class="hr-txt">$20<span>/</span>Hr</h3>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="featured-box-main">
            <div class="featured-box-img">
              <img src="../../assets/images/person-img1.png">
            </div>
            <div class="featured-box-txt">
              <p class="rating"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
              <h2 class="name">Trend Lin</h2>
              <h4 class="experience">10 years experience</h4>
              <h3 class="hr-txt">$20<span>/</span>Hr</h3>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="featured-box-main">
            <div class="featured-box-img">
              <img src="../../assets/images/person-img1.png">
            </div>
            <div class="featured-box-txt">
              <p class="rating"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
              <h2 class="name">Trend Lin</h2>
              <h4 class="experience">10 years experience</h4>
              <h3 class="hr-txt">$20<span>/</span>Hr</h3>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="featured-box-main">
            <div class="featured-box-img">
              <img src="../../assets/images/person-img1.png">
            </div>
            <div class="featured-box-txt">
              <p class="rating"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
              <h2 class="name">Trend Lin</h2>
              <h4 class="experience">10 years experience</h4>
              <h3 class="hr-txt">$20<span>/</span>Hr</h3>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="featured-box-main">
            <div class="featured-box-img">
              <img src="../../assets/images/person-img1.png">
            </div>
            <div class="featured-box-txt">
              <p class="rating"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
              <h2 class="name">Trend Lin</h2>
              <h4 class="experience">10 years experience</h4>
              <h3 class="hr-txt">$20<span>/</span>Hr</h3>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="featured-box-main">
            <div class="featured-box-img">
              <img src="../../assets/images/person-img1.png">
            </div>
            <div class="featured-box-txt">
              <p class="rating"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></p>
              <h2 class="name">Trend Lin</h2>
              <h4 class="experience">10 years experience</h4>
              <h3 class="hr-txt">$20<span>/</span>Hr</h3>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>
