<ion-header no-border class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button><img src="../../assets/images/menu-icon1.png"></ion-menu-button>     
    </ion-buttons>
    <ion-title slot="secondary">{{default_language_data['translation'][0]['settings'][0][language_selected][0]['screen_title']}}</ion-title>
    <ion-button slot="end" (click)="showMyProfile()"><img src="../../assets/images/user-icon1.png"></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="main-div">
		<div class="account-option">
			<div class="title-main">
				<h2>{{default_language_data['translation'][0]['settings'][0][language_selected][0]['account']}}</h2>
			</div>
			<ion-list>
				<ion-item>
					 <ion-thumbnail slot="start"><img src="../../assets/images/lock-icon1.png"></ion-thumbnail>
					<ion-label>{{default_language_data['translation'][0]['settings'][0][language_selected][0]['change_password']}}</ion-label>
				</ion-item>
				<ion-item>
					 <ion-thumbnail slot="start"><img src="../../assets/images/bell-icon1.png"></ion-thumbnail>
					<ion-label>{{default_language_data['translation'][0]['settings'][0][language_selected][0]['notifications']}}</ion-label>
				</ion-item>
				<ion-item>
					 <ion-thumbnail slot="start"><img src="../../assets/images/hand-icon1.png"></ion-thumbnail>
					<ion-label>{{default_language_data['translation'][0]['settings'][0][language_selected][0]['privacy_settings']}}</ion-label>
				</ion-item>
				<ion-item (click)="Logout()">
					 <ion-thumbnail slot="start"><img src="../../assets/images/sign-out-icon1.png"></ion-thumbnail>
					<ion-label>{{default_language_data['translation'][0]['settings'][0][language_selected][0]['signout']}}</ion-label>
				</ion-item>
			</ion-list>
		</div>
		<div class="other-option">
			<div class="title-main">
				<h2>{{default_language_data['translation'][0]['settings'][0][language_selected][0]['other']}}</h2>
			</div>
			<!--<ion-list>
				<ion-item>
					<ion-label slot="start">Text Messages</ion-label>
					<ion-thumbnail slot="end"><img src="../../assets/images/rit-arw1.png"></ion-thumbnail>
				</ion-item>
				<ion-item>
					<ion-label slot="start">Currency</ion-label>
					<ion-thumbnail slot="end"><img src="../../assets/images/rit-arw1.png"></ion-thumbnail>
				</ion-item>
				<ion-item>
					<ion-label slot="start">Languages</ion-label>
					<ion-thumbnail slot="end"><img src="../../assets/images/rit-arw1.png"></ion-thumbnail>
				</ion-item>
			</ion-list>-->
			<!--ACCORDIAN-->
			<ion-accordion-group>
				<ion-accordion value="colors" toggle-icon="chevron-down">
					<ion-item slot="header">
						<ion-label>{{default_language_data['translation'][0]['settings'][0][language_selected][0]['text_messages']}}</ion-label>
					</ion-item>
					<ion-list slot="content">
						<ion-item>
							<ion-label>Message 1</ion-label>
						</ion-item>
						<ion-item>
							<ion-label>Message 2</ion-label>
						</ion-item>
						<ion-item>
							<ion-label>Message 3</ion-label>
						</ion-item>
					</ion-list>
				</ion-accordion>
				<ion-accordion value="shapes" toggle-icon="chevron-down">
					<ion-item slot="header">
						<ion-label>{{default_language_data['translation'][0]['settings'][0][language_selected][0]['currency']}}</ion-label>
					</ion-item>
					<ion-list slot="content">
						<ion-item>
							<ion-label>CAD</ion-label>
						</ion-item>
						<ion-item>
							<ion-label>USD</ion-label>
						</ion-item>
						<ion-item>
							<ion-label>INR</ion-label>
						</ion-item>
					</ion-list>
				</ion-accordion>
				<ion-accordion value="numbers" toggle-icon="chevron-down">
					<ion-item slot="header">
						<ion-label>{{default_language_data['translation'][0]['settings'][0][language_selected][0]['languages']}}</ion-label>
					</ion-item>
					<ion-list slot="content">
						<ion-item (click)="changeDefaultLanguage('arabic')">
							<ion-label>Arabic</ion-label>
						</ion-item>
						<ion-item (click)="changeDefaultLanguage('kurdish')">
							<ion-label>Kurdish</ion-label>
						</ion-item>
						<ion-item (click)="changeDefaultLanguage('english')">
							<ion-label>English</ion-label>
						</ion-item>
					</ion-list>
				</ion-accordion>
			</ion-accordion-group>
			<!--ACCORDIAN-->
		</div>
	</div>
</ion-content>